[2016-05-25 18:25] steezeburger opened #3 "Install via pkg hangs at 'Verifying...', manual installation throws errors for installing json 1.8.1"
I can't install via the downloaded pkg, and when I try to manually install, I get errors that json 1.8.1 was not installed properly when running `bundle install` and found this as a fix http://stackoverflow.com/questions/29578142/how-to-install-json-gem-failed-to-build-gem-native-extensionmac-10-10

which I'd rather not do. I can install json 1.8.2 gem just fine by the way.

[2016-05-25 19:05] gdowens commented on #3
@steezeburger you may be able to give us some clues about the .pkg installation trouble by looking into your System Logs.

[2016-05-25 19:10] namuol opened #4 "What is the role of the Deco binary?"
What's the role of the [`Deco` binary](https://github.com/decosoftware/deco-ide/blob/4474aac5cbf491663a0ad450568503cb167ed6ac/desktop/deco_unpack_lib/binaries/Deco)? Is the source for it available?

Full disclosure: [I'm attempting to run Deco in Linux](https://twitter.com/louroboros/status/735549212050358272). :neckbeard:

[2016-05-25 19:13] gdowens opened #5 "Application crashes when clicking on "Chat with Deco Team""
We are improperly importing "shell" from Electron. Bad line is on templateBuilder.js:177

[2016-05-25 19:18] schneidmaster opened #6 "Can't run postinstall as root?"
Is there a reason why [Scripts/postinstall](https://github.com/decosoftware/deco-ide/blob/master/desktop/Scripts/postinstall#L5-L8) isn't allowed to be run as root?

I'm trying to create a homebrew-cask for Deco and installation is failing because homebrew-cask uses `/usr/sbin/installer`, which in turn must be run as root.

[2016-05-25 19:19] gdowens commented on #4
Ah! It is a very poorly named file. This is essentially a cocoascripted cocoa app that is used to run scripts with sudo access. See `desktop/handlers/upgradeHandler.js`

[2016-05-25 19:22] gdowens commented on #4
Would be awesome if you get it working. I have looked at https://www.npmjs.com/package/electron-sudo before, might be the right way to go for running the postinstall again after an upgrade.

[2016-05-25 19:25] gdowens commented on #6
@schneidmaster it's a safeguard to prevent the script from setting ownership of all the files to root. If the application later tries to use some of these files, it will be accessing them as $USER and will throw an exception due to permissions error.

[2016-05-25 19:25] steezeburger commented on #3
This is logged immediately after trying to install via the pkg. I researched the 60005 error but couldn't find any solutions. Something to do with Mac's Gatekeeper I think?

[code]

[2016-05-25 19:27] nhtera commented on #3
I have the same issue. I've tried my mac and using [Deco.pkg] install success.
You should also try your Mac.

[2016-05-25 19:28] steezeburger commented on #3
That's always a last resort because of everything I have running, but I'll give it a shot!

[2016-05-25 19:35] steezeburger commented on #3
That did it. No idea what was going on.

[2016-05-25 19:35] #3 closed

[2016-05-25 19:40] schneidmaster commented on #6
Ah okay. The cask will just have to include a manual install step then, thanks for the info.

[2016-05-25 19:40] #6 closed

[2016-05-25 19:44] namuol commented on #4
Hmm. Seems like we'd be better off avoiding the need for `sudo` in the first place, if possible.

I'm guessing this is mainly a requirement in OS X when modifying signed/system executables or something to that effect, yes?

[2016-05-25 19:47] michaltakac opened #8 "bundle install in /web crashes while installing json 1.8.1 gem"
[code]

After adding this line to Gemfile:
`gem 'json'`

...the problem goes away. Will request pull with fix.

[2016-05-25 19:49] gdowens commented on #8
Excellent! Thank you. We recently cleaned up the gems, so this seems to have slipped through.

[2016-05-25 19:56] BHSPitMonkey commented on #4
I was just working toward the same goal and hit the same roadblock. Hope one of us gets somewhere!

[2016-05-25 19:59] BHSPitMonkey opened #10 "Support Linux"
Some work toward this milestone can be followed in #4 as well.

[2016-05-25 20:05] gdowens commented on #10
:thumbsup:

[2016-05-25 20:14] jrcii opened #11 "El Capitan installer won't proceed past first step"
Both buttons on the installer are disabled when I run it http://i.imgur.com/9L59XwB.png Am I the only one experiencing that?

[2016-05-25 20:18] framerate opened #12 "React Native is Cross Platform. Plans for adding Android to Simulator?"
Super excited to get the download today! But then bummed that my RN android app apparently isn't supported.

Any plans for this?

[2016-05-25 20:22] ivanistheone commented on #12
The GUI seems to be hooked to the iOS simulator by default, but I imagine they'll make that configurable.

I tried calling `react-native run-android` from the command line, but I got:

    Task 'installDebug' not found in root project 'Project'.

which tells me the gradle configs need more love, but I'm sure it will build too...

[2016-05-25 20:23] steezeburger opened #13 "Drag 'n' drop scrolls editor view up but not down"
Dragging in a component from the sidebar - you can move up the editor to place the component, but you cannot move down.

[2016-05-25 20:23] aberonni opened #14 "Windows support"
Any chance this will be distributed on windows?

[2016-05-25 20:27] gdowens commented on #11
Have not seen this issue before. @jrcii can you look at system logs in the "Console.app"? Maybe there are some clues.

[2016-05-25 20:27] #8 closed

[2016-05-25 20:31] gdowens commented on #4
@namuol we install some things into the system path (watchman, node, etc) — those generally require sudo. You never know if someone has certain folder permissions set strangely as well, so it avoids the installer failing in those edge cases. Open to finding ways around sudo; I agree it is an annoyance.

[2016-05-25 20:33] gdowens opened #15 "Update Travis secrets"
Switched to travis-ci.org and now the secret keys aren't working (again). Putting this here to track... This issue is a blocker for the next version of Deco.

[2016-05-25 20:35] gdowens commented on #14
We definitely want it and hope to work with the community to get it out as fast as possible. Since we are using Electron, this is "in theory" doable within a short amount of time.

[2016-05-25 20:37] namuol commented on #4
There could be a path to install deco with `npm`, which would effectively require node to be installed in the first place. Other binaries (i.e. watchman) could just be dependencies in `package.json`, and would be executed with npm scripts.

It's probably safe to assume most React developers have node installed. :)

[2016-05-25 20:39] gdowens commented on #12
Yes, we've wanted Android support for awhile but have focused on smoothing out the iOS experience first. Definitely something to add to our roadmap.

[2016-05-25 20:46] gdowens commented on #4
@namuol

True, however, we have seen interest from designers and some other non-dev types.

Perhaps we could include in the installer an optional "Environment Setup" step? Since Developers like to have more transparency into their environment and everyone else doesn't really want to deal with that stuff.

[2016-05-25 21:08] namuol commented on #4
Hmm. Taking a step back: Why do watchman and node need to be system executables in the first place? Couldn't they just be bundled with Deco and run from its own installation location? i.e. `./<Deco>/libs/binaries/node`

[2016-05-25 21:25] gdowens opened #16 "Make the install process less intrusive, reasonably usable across platforms (OSX, Windows, Linux)."
Moving the discussion here from #4

Right now the installers `Scripts/postinstall` script does a lot of weird, semi-intrusive stuff. It would be better if we could achieve the same outcome (of bringing in node, watchman, setting up folders, etc) in a way that minimally impacts the system and reduces the work necessary to support all operating systems.

[2016-05-25 21:27] gdowens commented on #4
Yeah, it's worth revisiting the install process entirely. Moving the discussion here #16

[2016-05-25 21:27] #4 closed

[2016-05-25 21:33] #15 closed

[2016-05-25 21:39] Gagege opened #17 "Bug while opening existing project."
When I start a new project everything works fine, but if I open an existing project the Project explorer is blank and I can't open any files.

[2016-05-25 21:49] gdowens commented on #17
@Gagege can you take a look at `~/Library/Application Support/com.decosoftware.Deco/logs.out` and see if there's some hint about what's going on?

[2016-05-25 22:58] elie222 opened #18 "Integrating with existing projects"
Is Deco supposed to work out the box with existing projects or do some changes have to be made first like adding a `<View>` wrapper container?

[2016-05-25 23:21] dchen commented on #18
You shouldn't have to add a wrapper container like that. Many React Native projects will run without any modification, so please give it a shot. If it doesn't run, please share how you have your project set up (directory structure, etc.) and any error messages, and we'll help you out.

You can try running the simulator from shell, i.e. react-native run-ios, and use Deco for editing the code.

[2016-05-26 00:09] Proyoyo opened #19 "For existing project, clicking on Simulator does not start the simulator"
Issue described in the title.

[2016-05-26 01:40] MrPluto commented on #19
same here

[2016-05-26 02:13] kofsitho87 opened #22 "tab size"
hello! after I found it, it surprise me!!

But I want to know how to adjust tab size in text editor

Thanks!

[2016-05-26 02:38] dchen opened #23 "Can't use cmd+R to run Simulator on a new project before using the Simulator button"
If you start a new Deco project, and use Command + R, simulator will launch but the packager is not running. No packager output. Red screen on simulator due to no packager.

Clicking the Simulator button and selecting a device will cause packager to run normally.

tyler in Slack reported this issue and I was able to reproduce.

[2016-05-26 03:29] gdowens commented on #22
We want to allow developers to configure many aspects of Deco. Unfortunately, you cannot adjust the tab size right now. In the future, we will make it possible to do so.

[2016-05-26 03:34] gdowens opened #24 "Simulator does not launch for existing project - Allow developer to specify a path to their application when launching the simulator."
**If you are trying to launch the simulator for an existing project and it is not launching**
1. Build your application inside Deco, then launch the simulator
or
2. Place a pre-built ".app" file into $project_root/ios/build/Build/Products/Debug-iphonesimulator/[name of your app].app` then launch the simulator

* Note for enhancement *
Right now, we look in a very specific place for the .app file —

[2016-05-26 03:35] gdowens commented on #19
Please see #24

[2016-05-26 03:36] gdowens commented on #18
Please see #24

[2016-05-26 03:37] arosenb2 opened #25 "Search components via tag name instead of just full text on the title"
Doing this would make it easier to find iOS and Android specific components with respective tags, as well as help with categorization

[2016-05-26 03:37] #18 closed

[2016-05-26 03:37] #19 closed

[2016-05-26 03:59] Gagege commented on #17
I don't see anything unusual.

Just this line:
`{"level":"info","message":"Deco initializing...","timestamp":"2016-05-26T03:57:16.877Z"}`

[2016-05-26 05:40] ianjohnspain opened #26 "Components need to include a name that is displayed in the properties"
Hi

Components could include a name that can be displayed in the properties so if more than one textview is available you can recognise them

[2016-05-26 05:42] ianjohnspain opened #27 "Choice of embedded editor ?"
Hi,

Would be nice to be able to choose the embedded editor or at least right click on a file and OPEN IN for example

What is the embedded editor ? Is it ATOM ? Can we add additional plugins ?

But great what I see so far!

[2016-05-26 05:47] ianjohnspain commented on #12
I would suggest implementing some kind of config file / plugin. So that you are able to preconfigure simulators / emulators etc. Just an idea.

[2016-05-26 07:01] amazingandyyy opened #28 "After I install, it become undefined in Launchpad"
After I install, it become undefined in Launchpad
![screen shot 2016-05-26 at 00 00 52](https://cloud.githubusercontent.com/assets/7886068/15566313/0c178e8c-22d5-11e6-9c93-facb4def18b5.png)

[2016-05-26 07:02] gdowens commented on #28
very strange, can you try uninstalling and reinstalling?

[2016-05-26 07:05] amazingandyyy commented on #28
hm.. It works really well after reinstalling. Thanks.

[2016-05-26 07:05] #28 closed

[2016-05-26 07:15] zhiquan-yu commented on #26
Read [Property Inspector](https://www.decosoftware.com/docs/properties) Metadata section.

[2016-05-26 07:16] ianjohnspain commented on #26
Nice, I missed that one. Thanks

[2016-05-26 07:16] #26 closed

[2016-05-26 10:39] rmilesson commented on #14
I would love to take a look at this as soon as I'm more familiar with the project overall.

[2016-05-26 11:43] ele828 opened #29 "Pac"
1. We know that the ```console``` do not scroll down automatically now, but I think it's better to have `switch` button to switch the log scrolling state.

2. Maybe we could add ```Clear``` button and ```Filter``` button just like Chrome Console, which will make the Console more powerful.

Hope it' helps :)

[2016-05-26 11:44] dchen commented on #29
Thanks, these are good ideas.

[2016-05-26 12:18] IljaDaderko opened #30 "Ability to customise workspace"
It would be nice to have more control over the workspace i.e. I'd love to be able to view/hide components section in order to give my file tree more space, as well as resize console window and perhaps rearrange buttons in main toolbar.

Is this something we can expect in future releases? Great product by the way guys, really looking for this to mature into an awesome ide :)

[2016-05-26 12:25] alexHlebnikov opened #31 "Cyrillic texts changes to "squares""
Hi!

While installing the IDE I've face the following problems: cyrillic text in Mac OS Finder or in menus transformed into "brackets": http://imgur.com/uhbkQp4. My system language is Russian so all the Russian texts in Finder and in system menus became unreadable.

Also all files names on SSD renamed into strange names - for example, *Screenshot 2016-05-26 18.10.12* is looks like "*s2 1 211 12g*"

[2016-05-26 13:18] OctoD commented on #10
:+1: :+1: :+1:

[2016-05-26 14:41] tomav opened #32 "Add ability to comment / comment out selected lines"
Like in other IDE, like SublimeText with `CMD+Shift+/`

[2016-05-26 15:46] Fordi commented on #10
Someone comment on what sorts of things are needed for this / what made it hard for this to be part of the initial design.

I mean, if this is an electron.io app, it should be simple enough to port - I imagine the hardest bit might be some command line tool wrapping / substitution.  Clearly there was some kind of showstopper, right?

[2016-05-26 15:56] timotius02 commented on #32
You can already comment out lines using Cmd + /

[2016-05-26 16:00] dabbott opened #33 "Tools > Restart packager should restart the packager"
Currently does nothing...

[2016-05-26 16:12] dabbott commented on #10
@Fordi We had to prioritize one thing and do it really well. No showstoppers. But I think it would be a lot more useful if we had built-in Android emulator support first.

@namuol already built it successfully: https://twitter.com/louroboros/status/735569370886217728

A couple minor things to change off the top of my head:
- we shouldn't run any `xcrun` or `osascript`
- remove iOS devices from sim

[2016-05-26 16:14] dabbott commented on #32
At some point I'm sure we'll make keybindings more flexible and you can set to whatever you want. Until then, <kbd>Cmd + /</kbd>.

[2016-05-26 16:14] #32 closed

[2016-05-26 16:16] dabbott commented on #31
Hmmm... this sounds pretty bad.

@gdowens is there anything we could be doing in the install scripts that would mess with the system language or something?

[2016-05-26 16:26] dabbott opened #34 "Add "Show in Finder" to file tree context menu"

[2016-05-26 16:27] dabbott commented on #27
Thanks!

Our Embedded editor is CodeMirror.

Still figuring out how to do a good plugin system.

Not sure about "Open in" but maybe a good place to start would be "Show in Finder" and then you can open in whatever you want from there. I opened a separate issue: https://github.com/decosoftware/deco-ide/issues/34

[2016-05-26 16:27] #27 closed

[2016-05-26 16:28] dunhamsteve commented on #10
I think this could be pulled off with a real iOS device (not simulated).  You'd need:
- a pre-compiled, scaffolded application that you can drop the new .js/.plist into.
- a program to sign executables using the user's developer key (Goole tells me that "isign" does this)
- a way to install the signed application on the device (ideviceinstaller should do it)
- and, ideally, a way to start and stop

[2016-05-26 16:38] dabbott commented on #10
@dunhamsteve This sounds pretty awesome. We already ship a precompiled app with our Mac installer so that if you're building a plain js app you don't need to build/rebuild. Not sure how you'd swap out just a .js file, I don't know how the compiled ios binaries work well enough to comment. The rest seem reasonably legit - although I'm sure it will be a lot of effort to hook everything up.

Supporti

[2016-05-26 16:39] #5 closed

[2016-05-26 17:20] dunhamsteve commented on #10
Yeah, I don't have a Linux desktop, but I thought it'd be worth sharing how it might be accomplished.  Windows might be similar, but I don't know if the `libimobiledevice` stuff has been ported to windows.

Regarding the javascript files, I was presuming react-native works by having javascript files sitting next to the executable in the `.app` directory tree.  I haven't actually looked.  If this i

[2016-05-26 17:55] namuol commented on #10
Agreed!

See discussion #12

[2016-05-26 18:04] namuol commented on #14
Related cross-platform issue: #16

[2016-05-26 18:47] revisionfour commented on #12
Definitely need to add Android support. I was excited about this until I saw that it was pretty much strictly tailored to iOS development. Back to doing Android React Native dev with Sublime.

[2016-05-26 18:53] gdowens commented on #31
Yeah, this is insane.

Trying to reproduce now... it's possible the installer changes permissions on some directory that affects your encoding for Cyrillic characters. Just running Deco from source, I can see the Cyrillic fine.

@alexHlebnikov if you manage to fix the problem would appreciate any information.

[2016-05-26 19:06] ACCTFORGH commented on #12
Was really excited about the work. Look forward to the Android support!

[2016-05-26 19:13] gdowens commented on #31
Just did an install on El Capitan with system language set to Russian. No problems :\ so I'm not sure what happened.

[2016-05-26 19:19] alterx commented on #12
Maybe someone from the core team could provide a high level description of what needs to be achieved in order to make this work, that way it's easier for one of us to contribute @gdowens @dabbott

[2016-05-26 19:22] dabbott opened #35 "Add CodeMirror theme picker for text editor"
Should overall be pretty easy

Only complication I imagine: properties which have been added to the inspector are styled specially and will screw everything up. I hope to revisit how these work soon.

[2016-05-26 19:28] alexHlebnikov commented on #31
I've just fixed the problem - there was an update for El Capitan - 10.11.5, after installing and reloading everything went well.

I can assume what IDE instalation was not the cause of my problem.
But this happened just in procces of instalation (by the way, Deco was't installed well - installer stuck on last step). So that's why I created this issue.

[2016-05-26 21:04] dabbott commented on #10
@namuol so... I haven't tried building for Linux yet myself. I'm downloading an Ubunto VM now and I'll give it a shot.

What have you run into so far that we need to change for this to work?

[2016-05-26 21:33] namuol commented on #10
I mainly just needed to copy most of the contents of `desktop/deco_unpack_lib` to `~/.config/com.decosoftware.Deco/libs`, and create dummy versions of an executable or two (see #4).

Encouragingly, I didn't need to make any code changes apart from a few `console.log`s and some other changes I used to figure out where things were failing.

That said, I only barely got the UI to show up -- there's c

[2016-05-27 00:29] devinabbott commented on #10
Ok, gave this a shot also. Like you mentioned, the UI pretty much seems to work. I just ignore the updater screen for now, since I didn't make a proper version file :)

Definitely not as useful as the OSX version without a built-in way to run your app though. The Android setup continually goes wrong for me on both OSX and Ubuntu. I think I have a better idea of how important it is to provide an An

[2016-05-27 03:30] zenghuilipete opened #36 "Packager crashes, unable to talk to watchman"
After i clicked one simulator, red box appeared in simulator which shows "could not connect to development server". Bellow are console error info in packager output:
 ┌────────────────────────────────────────────────────────────────────────────┐
 │  Running packager on port 8081.                                            │
 │

[2016-05-27 09:27] dchen opened #38 "Add "Go to Definition" command"
For example, click name of component to go to where the component is defined.

Requested by aksonov in Slack.

[2016-05-27 09:33] aksonov commented on #38
The same about styles, object methods.

[2016-05-27 09:33] aksonov commented on #38
Usually it is Cmd+Click command

[2016-05-27 09:59] dchen opened #39 "Add mode to disable watchman so that Deco can be used in editor only mode"
As a workaround for people who need to run their project outside of Deco, we suggest using Deco as editor only. But in the current version, it aggressively starts watchman which can conflict with running watchman externally.

Can we have a mode to disable watchman / use external watchman? @gdowens

[2016-05-27 10:01] dchen commented on #39
Opened this because shivamkumar in Slack is having trouble running project externally.

[2016-05-27 10:03] aksonov opened #40 "Add Autocomplete feature"
For regular JS classes as well for React Components.

[2016-05-27 10:06] aksonov opened #41 "Add quick file switch feature"
To switch between files within the project. Usually it goes with input text and list (filter), so i could quickly type first few chars and select that file from the list to open

[2016-05-27 10:51] ele828 opened #42 "Specify npm registry"
Maybe we could specify npm registry to speed up installation process?
This one is really fast with CDN support in China, while npm is a little bit slow. We get accustomed to using it.
https://cnpmjs.org/

Thanks.

[2016-05-27 11:49] IljaDaderko commented on #30
@dabbott Definitely! If you could kickstart me in the right direction, I can give this a shot over the weekend :)

[2016-05-27 13:07] dsibiski commented on #36
One solution that worked for me was after you quit Deco, go into Activity Monitor and kill any `watchman` process that is still running.

However, sometimes there is no watchman process there and I found I was still getting this error. However, I use tmux. I found that if I tried to start the packager manually "outside" of tmux (it might take a couple tries), it would end up working. Then trying b

[2016-05-27 13:11] dsibiski commented on #36
I found the "tmux" solution on this issue: https://github.com/facebook/watchman/issues/69

[2016-05-27 13:25] jgo4th opened #43 "Watchman configuration jacked up after installing Deco"
Previously I was developing with the facebook developed react-native cli tools which used watchman for starting react-native applications. Shortly after installing Deco, I attempted to use these tools to demonstrate previous React-Native Implementations but I keep getting errors similar to this now.

`Error: watchman--no-pretty get-sockname returned with exit code 1 2016-05-27T09:22:33,591: [cli]

[2016-05-27 14:43] wx-chevalier opened #44 "unable to resolve module when using other node modules in github"
i download the snowflake and use npm install & rnpm link , but error occurs when run:
![Uploading ED87EC11-7D8B-4183-A4B2-46281C5AFB85.png…](http://7xkt0f.com1.z0.glb.clouddn.com/ED87EC11-7D8B-4183-A4B2-46281C5AFB85.png)

[2016-05-27 17:04] akaralar opened #45 "How to uninstall completely?"
I'm on OS X El Capitan and Deco had installed via an installer so I'm not sure if just deleting `Deco.app` will suffice. What do I need to remove in order to uninstall completely? Is there any uninstaller I'm missing?

[2016-05-27 17:41] adriatic opened #46 "deco-ide Aurelia??"
I have not (yet) tried deco-ide, so I am writing this based only on a really appealing website and cool looking product. That is sufficient to ask whether you would be interested in working with us (Aurelia-UI-Toolkits and Aurelia-Tools) on creating the Aurelia IDE?

We are internally discussing Aurelia IDE for the longest time, using the identical approach you took and given the fact that you sup

[2016-05-27 18:01] dabbott commented on #30
@IljaDaderko sweet! Ok, here's how it works currently:

The entire layout is defined here in Workspace: https://github.com/decosoftware/deco-ide/blob/master/web/src/scripts/containers/Workspace.jsx

Currently the different regions are hardcoded. Each region is wrapped in a `<Pane />`, which can resize either horizontally or vertically. Resizing dispatches actions, e.g. `setLeftSidebarWidth`, `setL

[2016-05-27 18:22] dabbott commented on #46
@adriatic, we'd definitely be interested! Can you email me and David with a little more info about what you guys do, what you have in mind for Aurelia IDE, and how you were thinking we could collaborate? I don't know too much about your guys' products, but briefly looking at website, it seems like it could be a great fit :)

dabbott@decosoftware.com
dchen@decosoftware.com

[2016-05-27 18:25] dabbott commented on #42
Is it the initial Deco app installation process that's slow? Or downloading components that have npm dependencies?

This seems like a good feature. I don't know too much about adding registries, but I'm guessing it would be pretty easy. Maybe a screen in settings. Would you be interested in trying?

[2016-05-27 18:49] gdowens commented on #45
We do not have an uninstaller, that would be good to add. Deleting the .app file should be enough, but if you really want to wipe all the other stuff you can see what we install in this script https://github.com/decosoftware/deco-ide/blob/master/desktop/Scripts/postinstall

Just `rm -rf` those files/folders

[2016-05-27 18:50] gdowens commented on #45
To make it easier, here's the other stuff that's installed outside of the .app
`/usr/local/Deco`
`~/Library/Application Support/com.decosoftware.Deco`
`/usr/local/var/run/watchman`
`~/.Deco`

[2016-05-27 18:51] #45 closed

[2016-05-27 18:53] gdowens commented on #44
This error generally happens when A. There is a problem with the npm module installed or B. you are importing the module incorrectly.

Try following the steps in the red screen and see if that fixes the issue for you.

[2016-05-27 18:56] gdowens commented on #43
We are going to change how Deco uses & installs watchman. It's not the best right now. Deco is forcing its own watchman installation. For now, make sure Deco is closed when you want to use your system installed watchman.

Alternatively, you can remove your system watchman and `export PATH=/usr/local/Deco/watchman:$PATH` to just have everything use Deco's version of watchman.

[2016-05-27 18:56] dabbott commented on #31
@alexHlebnikov I'm going to close this. If you're still having trouble with installation, can you create a new issue or reach out to us in slack?

[2016-05-27 18:56] #31 closed

[2016-05-27 18:57] gdowens commented on #43
see #39 and #36

[2016-05-27 18:57] #43 closed

[2016-05-27 19:33] #46 closed

[2016-05-27 23:26] dabbott opened #47 "Deco Components v2"

[2016-05-27 23:27] #47 closed

[2016-05-27 23:58] gdowens commented on #12
In progress... should open something next week geared around broadening support and making builds easily customizable. Stay tuned.

<img width="1457" alt="androidondeco" src="https://cloud.githubusercontent.com/assets/977466/15623680/0050c354-242c-11e6-999d-15d3fe9e8816.png">

[2016-05-28 09:06] ele828 commented on #42
What I mean is the component downloading process, especially large size component.

Yep, I'm working on it now.

[2016-05-28 10:07] IljaDaderko commented on #30
@dabbott Alright, sounds doable! Will probably need to stretch this over a couple of weekends, but will give it a shot!

[2016-05-28 17:04] alexHlebnikov commented on #31
Ok.

[2016-05-29 01:26] dmk23 commented on #14
Is there an estimated timeframe yet?

[2016-05-29 22:34] #34 closed

[2016-05-29 23:06] dabbott opened #58 "Improve console UI"
This one would be pretty easy for somebody to help with.

The current console UI kind of sucks: it's just a giant `div` that we stuff text in. We should try to use a terminal emulator.
- text will wrap properly
- we can autoscroll to the bottom better
- *probably* won't lag during an ios build, when tons of text gets logged all at once (slowness might be due to other stuff)

This task is a prerequ

[2016-05-30 00:08] #42 closed

[2016-05-30 06:30] solancer commented on #10
Its about time the Linux binaries were made available.

[2016-05-30 09:48] xxmyjk opened #59 "project list on start up screen can not be modified"
Hope it can be fixed.

[2016-05-30 16:33] dabbott commented on #10
@solancer we first are making it more extensible to launch an app. Feel free to PR if you want to shorten the timeline on Linux binaries.

[2016-05-30 16:34] dabbott commented on #59
What do you have in mind?

We were planning to let you clear the list. Beyond that, it's just what you've opened/saved most recently.

[2016-05-30 17:28] xxmyjk commented on #59
yeah, i just wanna to clear it, 'cause some useless or empty project name can not be removed now.

[2016-05-30 20:02] 3vilguy opened #60 "Project name not associated with app name"
Making new project and Saving Project As is referring only to folder name. All the rest (package.json, iOS/Android Project name) is still using 'Project' string.
Would be cool if it was associated with project name or if we could update that from single entry point (like Project Properties or something on that note).

[2016-05-31 02:48] ele828 opened #61 "File contents in Deco should be changed with external changes"
If we modify a file externally, the content of that file in Deco will not be changed at the same time, while other IDEs or text editors will.

[2016-05-31 13:28] scerelli opened #62 "When i open Deco android emulator crash"
I just set up a project using ignite for react-native but deco does not seem to work well using genymotion emulator.

This is what happens:

1) I start genymotion emulator (using sdk installed in `$HOME/Library`)
2) `react-native run-android` inside the project folder
3) I open Deco
4) System crash

The moment i open deco watchman loses its connection and everything crash
[code]

[2016-05-31 14:08] dabbott commented on #60
This is a good idea. I think it's the behavior I'd want like 90% of the time, although if I've already used "Project" myself in other places, it could be bad when it changes. Probably that's OK though.

I wonder how we should implement? Keep track of which things we name "Project", and on save-as check if the name is still "Project" and change it?

[2016-05-31 14:11] dabbott commented on #61
Yes, absolutely!

One complication is that Deco lets you have inspectable properties with associated metadata, and if the code changes outside of Deco, those properties will get a little screwed up (they are stored based on character/line position in the file). That's okay - but we should also invalidate/delete any inspectable properties if they are no longer accurate (e.g. if a property that used

[2016-05-31 17:38] kantakt2 commented on #60
Интересует?

Оплата 10-30 за 1000.

Сейчас мне допустим нужны авторы для примитивной работы, процитирую пока
условия
Новости по 600-700 збп
уник - от 60% по text.ru <http://vk.com/away.php?to=http%3A%2F%2Ftext.ru>

В день нужно 50 текстов, т.е. даю 12-13 ссылок и каждую нужно
продублировать на 4 отдельных текста.

31 мая 2016 г., 19:08 пользователь Aleksandrs Kantajrevs <
wmkantajevs@gmail.com> на

[2016-05-31 17:39] dabbott commented on #40
At a high level, what's involved here:

In a separate thread, index all the files in a project with a static analysis engine.

Options for engines:
- flow
- typescript
- ternjs
- others?

Probably flow makes most sense, since its specifically for RN. However, typescript does seem to work spectacularly in VSCode, so worth looking into.

As you type, re-index the current file and look up type info.

[2016-06-01 00:54] DanielRosenwasser commented on #40
Hey @dabbott, one of the nice things is that with TS integration users would have the choice of both JS and TS, as well as an easier cross-platform story for the near future. I'm actually on the TypeScript team if you're interested, so if you had any questions regarding this, I'd love to help out. :smiley:

[2016-06-01 02:56] benzhipeng opened #63 "after using pod ,presss the simulator button,the simulator can't launch"
![75c3ef2a-5762-49cb-b1d7-51e3f24529e0](https://cloud.githubusercontent.com/assets/8006405/15696893/75b0b776-27e7-11e6-87be-7eeef2f9137d.png)

[2016-06-01 06:04] chouti commented on #36
Yep, I was able to reproduce the same process, and also it's not possible to kill `watch` in Activity Monitor, as long as I quit the process, it start up automatically.

[2016-06-01 17:33] GJNilsen commented on #45
You should put this in the FAQ on the webpage as well.

[2016-06-01 20:14] dabbott commented on #45
Or maybe add a script and mention it somewhere

[2016-06-01 20:19] dchen commented on #62
This will likely be resolved with issue #39 to add an option for Deco not to launch watchman when running it externally.

When you say "System crash", is Deco exiting, also the emulator and the packager running in Terminal is ending as well?

[2016-06-01 20:20] dchen commented on #63
Is there anything interesting in the Packager Output when you click the simulator button? If you manually launch the project from Xcode, does it work?

[2016-06-01 20:25] dabbott commented on #40
@DanielRosenwasser awesome, thanks :)

How does TS work with Flow code? I see quite a lot of Flow type annotations in RN apps, but not much TS. If TS doesn't handle Flow, I'd probably choose Flow based on its popularity (and being what FB uses internally and in RN core). I don't know either very well, but the type annotation syntax looks pretty similar.

Does TS use babel or support babel extensio

[2016-06-01 21:23] GJNilsen commented on #45
#65 does the trick

[2016-06-01 21:58] ashh640 opened #66 "Deco becomes corrupt when Project is named the same as parent dir"
If I have a folder on my desktop called 'Test' and within it i create my project called 'Test' once I select a file the project tree view simply breaks. See attached image

<img width="266" alt="screen shot 2016-06-01 at 22 57 54" src="https://cloud.githubusercontent.com/assets/10521775/15727088/599ffbcc-284c-11e6-87ff-49fbcbda8530.png">

[2016-06-01 22:15] DanielRosenwasser commented on #40
Those first two things were actually originally first designed/implemented in TypeScript, and we currently support parsing all of them. :smile:

TypeScript itself doesn't use Babel, but it fits well into a pipeline with it.

Keep in mind that TS itself does't necessarily need to come into the pipeline at all. For completion, you're only concerned with the editing scenario, right? For instance, in

[2016-06-01 22:35] dabbott commented on #66
Interesting... I can reproduce.

Seems to happen when the Project name is the same as the name of the containing dir. It basically breaks the entire Deco UI.

I haven't looked into what's going on. Probably something stupid :P

[2016-06-01 22:52] dabbott commented on #40
@DanielRosenwasser Very interesting! I didn't know that Flow had a separate, non-babel parser. I saw babel in the package.json and jumped to conclusions.

Does TS handle Flow type annotations (are they the same as TS type annotations?)?

[2016-06-02 08:34] ifraixedes opened #67 "Why the installation requires admin rights?"
I'd like to know why the installation requires admin rights and if it's possible to remove the requirement.

Thanks.

[2016-06-02 16:58] dabbott opened #69 "Fastlane integration"
@auser Keep us posted :)

[2016-06-02 18:46] dabbott opened #70 "Search directory for text"

[2016-06-02 20:51] gdowens commented on #67
It's basically to guarantee that we can create, add to, and update ownership/permissions for all things outside of the Deco.app. You can see what is happening here: https://github.com/decosoftware/deco-ide/blob/master/desktop/Scripts/postinstall

[2016-06-02 20:57] #67 closed

[2016-06-02 20:57] gdowens commented on #66
Seems like something we should fix in the next release.

[2016-06-02 21:00] gdowens commented on #63
@benzhipeng Did you rebuild the .app after adding the pods? If so, where is the target .app file? As of right now Deco hard-coded looks for the path `$ROOT/ios/build/Build/Products/Debug-iphonesimulator/[project_name].app

Can check `~/Library/Application Support/com.decosoftware.Deco/logs.out` for more information and report back.

[2016-06-02 21:00] gdowens commented on #62
Watchman fix should solve these issues — reopen if issue persists on next release.

[2016-06-02 21:00] #62 closed

[2016-06-03 15:50] dabbott opened #72 "Update default RN project version"
A lot has changed, we should update.

@dsibiski did you ever give this a shot? (if not, it's cool - we can do it)

Might be worth noting down the steps involved so we can script it.

[2016-06-03 15:56] dsibiski commented on #72
I haven't had the chance yet, might be able to try it today. Would you be able to jot down some of those tips you had given me in the chat the other day?

[2016-06-03 16:07] dabbott commented on #72
Steps:
- Update the pre-packaged node_modules in `modules.tar.gz` https://github.com/decosoftware/deco-ide/blob/master/desktop/deco_unpack_lib/modules.tar.gz
- Update the default project template: https://github.com/decosoftware/deco-ide/tree/master/desktop/deco_unpack_lib/Project
- Build the default project for iOS: https://github.com/decosoftware/deco-ide/tree/master/desktop/deco_unpack_lib/Proj

[2016-06-03 16:13] dsibiski commented on #72
@dabbott Gotcha, yeah I didn't think it would be quick an easy...but as you mentioned above, go through it and document the process + record challenges...so that perhaps we can automate it or at least make it easier to do in the future.

Thanks for the info!

[2016-06-05 15:07] dsibiski commented on #58
This does indeed sounds very useful. However, after looking a little bit at `xterm.js`, it seems like one of the challenges is that it has an imperative API that allows you to write only 1 line at a time. I'm gonna mess with it though and see exactly what it can do (unless you know off the top of your head).

If it only allows line by line writing, we'd probably have to change how the `packagerOut

[2016-06-05 15:09] dabbott opened #75 "Components v2"
It's time to revisit components!

---

#### Current State

It's a tricky problem. In fact, we've already tried several systems. The current system is the result of trying to limit the scope of the problem to something that could be reasonably implemented in... just a single day! As such, it's very simple and has the following problems:
- it's too hard to add/update components
- it's too hard to fi

[2016-06-05 15:15] dabbott commented on #58
Honestly I haven't looked into it too deeply, so I'm not sure if xterm is any good or not :P. It seemed like the most maintained of the ones I looked at. The others were:

https://github.com/Gottox/terminal.js
https://github.com/chjj/term.js (seems unmaintained)

I think it's OK if we have to change the way state is stored. I'm not sure where the slowdown in the xcode build is coming from. It does

[2016-06-06 03:17] younthu opened #76 "failed to start desktop with 'no such file or directory' error"
Hi,

I downloaded source code and tried to build/run it manually by following the instructions in the git page.

while i start the desktop by  "npm run start" in the desktop folder, it failed with following log, i do started "npm run watch" in web folder:

<pre>
➜  desktop git:(release) npm run start

[11:02:25] Using gulpfile ~/sourcecode/github/deco-ide/desktop/gulpfile.js
[11:02:25] Starting 'b

[2016-06-06 03:44] dchen commented on #76
@younthu Can you try running npm install one more time in the desktop directory? Also check your version of node and npm, run node -v and npm -v

[2016-06-06 07:01] younthu commented on #76
@dchen , i tried your instructions,and failed to start run,  below is the log, the "npm start run" log is the same as before, so, i omitted that part.

<pre>
➜  desktop git:(release) ✗ npm install
npm WARN DecoIDE-Desktop@0.6.0 No repository field.
npm WARN DecoIDE-Desktop@0.6.0 No license field.
➜  desktop git:(release) ✗ node -v
v5.9.0
➜  desktop git:(release) ✗ npm -v
3.7.3
➜  desktop git:(rele

[2016-06-06 19:31] gdowens commented on #75
@dabbott I think we are pretty well aligned on thinking toward v2 — after mulling it over for a bit I've landed on something pretty close to what you've written.

Thoughts in summary:
1. Distribute and store all component information using the proven, existing methodology of github + npm (it would be prudent to weigh in our design how the implementation may at a later time be extended to other sto

[2016-06-06 22:02] gdowens commented on #76
`rm -rf desktop/node_modules` and then `npm install` in the desktop directory. Looks like there's a problem with your electron-prebuilt node module. Not sure why.

[2016-06-07 16:50] dabbott opened #78 "Cmd + w to close tab"
Currently Cmd + w closes the window. It should close the current tab.

[2016-06-07 16:52] dabbott opened #79 "Adjustable text editor font size"
Font size should be adjustable.

Probably I need to do some editor refactoring before attempting this. Right now it would be tricky - but after a refactor it would be trivial.

[2016-06-07 22:50] rally25rs opened #81 "Directories created in project window listed in order of creation, not alphabetic"
v1.2.2

Right-click on root/project folder in left "Project" panel and choose "New Directory" twice, once with a folder high in the alphabet ('z'), one with a name low in the alphabet ('a').

Directories will list in order of creation, not alphabetically.

![image](https://cloud.githubusercontent.com/assets/38535/15877221/a177124e-2ce0-11e6-9ba6-bf241cf151e6.png)

[2016-06-07 22:52] rally25rs opened #82 "Tab created with "New File" should gain focus"
* In the left "Project" tab, right-click and select "New File".
* input a name.
* A new tab is created for the file but does not have cursor focus.

Would expect new tab to have focus so you can immediately start typing instead of having to click into the new tab.

[2016-06-08 02:44] younthu commented on #76
@gdowens , i tried your suggestion, it works now!

many thanks!

[2016-06-08 09:37] noerK commented on #78
I just started with this :)
for now i changed the close window/project and new project hotkeys to "cmd/ctrl + shift + n/w".

[2016-06-09 23:41] ogonbat opened #84 "Error in Xcode no link with"
Hi All

i have a Project created with Deco,
With the Deco simulator all work well, but, when i open the ios project and start the simulator from XCode i get this errors

[code]
To be clear have no libReact.a and other libraries into the ios project, is not a problem with link because i have checked and all these libraries are linked

Thanks in advance for your help

[2016-06-10 00:08] ogonbat commented on #84
Hi All

i have solved the problem, otherwise is still something that i don't understant

i have modified "Build Settings" -> "Build Active Architecture Only" -> Debug in Yes
before was No
i have created another React-Native project with react-native cli and this option was different.
After this change all work well.
Do you know why?
I never changed this option

Best Regards

[2016-06-10 00:16] #66 closed

[2016-06-10 04:22] dabbott commented on #78
@noerK looks like you and timotius collided on this one... maybe we should still merge in your other hotkey changes?

[2016-06-10 04:23] dabbott commented on #82
Good idea. This one should be pretty easy.

[2016-06-10 04:24] dabbott commented on #30
@IljaDaderko were you ever able to give this a shot?

[2016-06-10 04:27] #72 closed

[2016-06-10 04:36] dabbott opened #85 "Improve Project Navigator file tree"
Issues with the current implementation:
- *a lot* of duct tape to fix performance issues
- confusing communication between desktop and web
- no clearly defined data structures for files and directories
- UI is difficult to style based on the strange component structure, along with reliance on scss

I'm in the process of making a separate npm module for just rendering and controlling a file tree vi

[2016-06-10 08:27] noerK commented on #78
No Problem :)

I'll just pull the current state and redo my changes.

[2016-06-10 08:32] noerK commented on #85
I also found a Problem when changing files outside of deco. For example installing node packages :)
Deco don't recognises the changes until you restart deco or reload the whole project.

[2016-06-10 14:21] dabbott commented on #85
There's a separate issue for that one https://github.com/decosoftware/deco-ide/issues/61

[2016-06-11 14:30] SergeyKuzmich opened #86 "Extremely low IDE download speed"
Downloading IDE from official website is extremely slow and useless (East Europe Region), because download speed is about ~40KB/s on 100Mb/s connection.

Maybe you need to upload distibutive to github as release or provide more accesible storage?

[2016-06-12 07:22] hbwang85 opened #87 "Can't drag file to the project directly"
I think it will be very useful if we can drag file to the project directly, especially for the assets.  Hope this feature could be added in the future.

[2016-06-12 11:36] lggdance commented on #17
Same problem here.

[2016-06-12 11:40] lggdance commented on #17
"level":"info","message":"Looking for JS files in\n   /Users/xxx/Documents/xxx/App Development/React Native/xxx \n\n","timestamp":"2016-06-11T00:08:50.704Z"}
{"level":"info","message":"[2:08:54 AM] <START> Building Dependency Graph\n","timestamp":"2016-06-11T00:08:55.003Z"}
{"level":"info","message":"[2:08:55 AM] <START> Crawling File System\n","timestamp":"2016-06-11T00:08:55.004Z"}
{"level":"inf

[2016-06-15 19:36] dabbott commented on #86
Yes, we're gonna do this. As part of our next release (should be next week...) you'll be able to get the binaries as github releases.

[2016-06-15 19:37] dabbott commented on #87
Good idea. I'm working on a better file tree at the moment. After that, it should be easier and more clear how to add file dnd.

[2016-06-15 20:17] dabbott opened #88 "Project templates / React Native design tutorials"
We've been discussing project templates for a while, e.g. I want to create a new project with redux + react-native-router-flux.

A very compelling first use case would be to help beginners learn React Native, with a focus on design. After chatting with @jondot, I propose we add the tutorials (called Katas) from https://github.com/jondot/ReactNativeKatas as project templates.

A rough idea of how i

[2016-06-16 05:34] adityakandari commented on #88
Great idea..and when is the boilerplates section coming to release?

[2016-06-17 09:22] cantecim commented on #88
+1 great idea

[2016-06-17 09:46] SergeyKuzmich commented on #86
Thank you for this and for IDE!

[2016-06-17 09:46] #86 closed

[2016-06-19 09:40] jondot commented on #88
I've just finished going through some Katas with Deco, it's been even more immersive than my usual setup!

Here's some input, that I imagine template projects will need in general:

* A 'bootstrap' automation script. In this case, after a template is instantiated you want to run a native build (cmd+B), so that might need an API into Deco
* A 'starter file' that is opened automatically. In this cas

[2016-06-20 08:02] ytqiu commented on #84
Because the React projects we use as dependencies setting "Build Active Architecture Only = YES", if we not, it will be no enough architectures to link.

[2016-06-20 16:02] gmarinosyan opened #89 "Files in working directory disappear if renamed outside of Deco"
When I have a directory open in Deco and I rename any file in that directory through Finder, the file disappears (from both Finder and Deco). The file can then no longer be found anywhere (through either Trash or Spotlight).

[2016-06-20 16:29] dabbott commented on #89
I'm not able to reproduce. Any other details you can provide?

What directory do you have open?
What file do you rename, and what do you rename it to?
Mac OS version?

[2016-06-20 17:04] dabbott commented on #88
Great job so far :)

This is a good idea. Actually, you can expect an API for accessing the building/simulator/packager pipeline this week from @gdowens. It uses a separate `config.deco.js` and gives you very fine-grained control. It will probably be necessary for advanced templates. That said, I'm wondering if just for the katas we should try to skip the build step, since it's the last bit that w

[2016-06-20 17:07] dabbott commented on #89
I'm working on the file tree improvements: https://github.com/decosoftware/deco-ide/issues/85, although since we haven't fully identified the issue yet, can't say for sure if my changes will fix. Should still try to hunt it down.

[2016-06-20 17:41] jondot commented on #88
@dabbott I like how you think! 👍
I was pondering about removing vector-icons a few days ago, just to reduce friction. But now I'm remembering that there's a pretty heavy usage of RNFS (saving images, comparing images, removing them).
This opens up a new train of thought for me, I might be able to do all this in-memory - basically saving UI snapshots as base64 in-memory (though I'm not certain how

[2016-06-21 12:47] gmarinosyan commented on #89
I'm running El Capitan 10.11.5. It seems like the issue only occurs if I copy or drag an external file into the Deco project folder and then try to rename it. So for example if I have a folder named Test opened in Deco and then drag any file into the Test folder in Finder and try to rename it, it disappears right after renaming. It doesn't matter what the names are, the same effect occurs.
![deco

[2016-06-21 14:52] dabbott commented on #89
Thanks for the gif. I can reproduce it now.

Seems to happen when I rename any file - even from within Deco - to have a filename which is the same except for the cases of the characters.

We must be doing something weird with file paths. I will look into it as part of #85.

[2016-06-23 00:05] zaach opened #91 ""Cannot find module './cli'" when launching simulator"
After installing deco for the first time today and creating a new project, I see this error in the console after launching the simulator:

[code]

along with the red "cannot connect to dev server" error screen for the app.

[2016-06-23 04:56] 3DEsprit opened #92 "Last Column In Editor Hides Under the Silder"
OS: OSX 10.11.5
Deco: 1.1.2 (0.6.0)

As soon as a file has enough rows to activate a vertical slider, the slider covers up the last column in the editor, disallowing the ability to see the last character in the row. When the last character is a single/double quote, anyone unaware of this issue could easily think there  a missing closing quote.

An example:

http://d.pr/i/NW1T

When the slider does

[2016-06-23 05:10] 3DEsprit opened #93 ""Chat With Deco Team" link Closes Deco"
OS: OSX 10.11.5
Deco: 1.1.2 (0.6.0)

Clicking the Help > Chat with Deco Team... link closes the client shortly after clicking it. This happens any time the link is clicked, even with newly created projects, empty projects, and even shortly after opening Deco. There is plenty of memory free for this operation, and no other obvious reasons for this to happen; if this is not intended. I selectively c

[2016-06-23 07:07] gdowens opened #94 "Need to add postinstall script into lib/Scripts folder for update mechanism"

[2016-06-23 07:09] gdowens commented on #93
@3DEsprit you can find logs at ~/Library/Application Support/com.decosoftware.Deco/logs.out — this bug has already been patched, and we are working to get a release out asap.

Thanks!

[2016-06-23 07:09] #93 closed

[2016-06-23 07:15] gdowens commented on #91
Hey @zaach looks like something is wrong with the node_modules...

Two questions...
1. Closing Deco and starting a new project does not fix it, right?
2. What happens when you open an existing React Native project? Say, a project made using `react-native init`?

[2016-06-23 07:20] gdowens opened #95 "Toggle key repeat when vim mode is toggled in preferences"

[2016-06-23 07:28] gdowens commented on #95
@ezioruan brought this up in a PR and we think it should be the default behavior.

Can change user defaults for a mac application using the command utility `defaults` — relevant command is `defaults write com.decosoftware.deco ApplePressAndHoldEnabled -bool false`

Basically, this command needs to be run with -bool false or -bool true whenever the vim mode checkbox is toggled and platform is mac.

[2016-06-23 17:57] 3DEsprit commented on #93
Oh great to know! Thanks!

[2016-06-23 23:28] zaach commented on #91
1. Nope
2. I get a different error. Looks like it can't find the simulator:

[code]

[2016-06-23 23:38] zaach commented on #91
Well now, the original case *is* working now. I tried it twice yesterday and had no luck, but today after trying the 2nd case I gave it a go and it works. 2nd case still repeatedly failing.

[2016-06-23 23:44] dchen commented on #92
Thanks for reporting this.

Reproducible - scrollbar covers some text.

[2016-06-23 23:47] dchen commented on #81
Thanks, I'm confirming this as reproducible.

It might be fixed in an upcoming revamp of the file list. @dabbott ?

[2016-06-24 00:34] 3DEsprit commented on #92
Always welcome! Anything I can do to help, I'll do it. :)

[2016-06-25 00:41] MaximillionMai commented on #85
It would be great to have a filename filter in the project navigator in the left as well.

[2016-06-25 03:11] 3DEsprit opened #100 "class "default" rule for syntax highlighting"
Anytime you use the "default" keyword with a class, the syntax highlighting is laid out as if there is an error. The classname is shown in 'white' instead of orange. In addition it also effects all of the methods inside the class as well. If you're someone like me who likes to put them inline with the class call as much as possible, this can throw you off.

Without **default**: http://d.pr/i/1aWgw

[2016-06-25 05:22] 3DEsprit commented on #92
I just now noticed there is a similar issue with the bottom slider as well, disallowing interaction with the last row, unless clicking very close to the row above. There seems to be a transparent area above the slider, along with the slider disallowing interaction. Since it's related to keeping the editor within the area, away from the sliders, I thought I would add this addendum.

[2016-06-25 16:15] dabbott commented on #85
@MaximillionMai That's an interesting idea... it reminds me of having a layer filter in Sketch. I think I will try it. My only concern is that having another searchbar near the components search in the UI might make it a little confusing which to use. Maybe not.

At some point we'll have a "quick file open" dialog like Atom or Sublime, which will solve most of the same problem, I think.

[2016-06-25 16:25] dabbott commented on #100
Good catch. I will fix this. The CodeMirror parser is missing some of this ES6/ES7 stuff.

We tentatively started using ZenHub (a browser plugin that tweaks the github site) to track releases, but I haven't been that diligent about managing things yet. For now, I'd say don't worry about overlapping issues - there have only been one or two duplicates, and I can manage merging them. You can always c

[2016-06-25 18:49] 3DEsprit commented on #100
Ah! Ok, I won't worry too much, but I may find myself looking at pulls at some point. :wink: :

[2016-06-26 02:23] 3DEsprit opened #101 "Suggestion/Request: Custom Template Components"
Just an idea/request/suggestion: the ability to create a custom template as a component. They could be prefixed with something like "temp-", or "snip-" to keep separate from components, but allow for users to create their own Native templates for default components.

As a possibly poor example, making a component template: I'm a big fan of adding PropTypes and DefaultProps outside of the class, an

[2016-06-26 02:43] dabbott commented on #101
Good idea. This is a very natural extension of the existing feature, and would be pretty easy to add too.

Probably we could implement the simplest version by adding something to the `package.json`, similar to how custom components are loaded currently.

So if you have:

[code]

then Awesome Component is added to your [ + ] list and we download it on first use. The filename you enter after clickin

[2016-06-26 02:52] 3DEsprit commented on #101
Sounds great! So much awesome! 😃

Great to hear this fits in nicely, and can't wait to see such added, especially the Deco service. 😉

[2016-06-26 05:36] MaximillionMai commented on #85
@dabbott I agree that we should not have two filters right next to each other.  I am wondering why we don't put the filters at the bottom of the list like how XCode does.  the filter for the file/project list is also something from XCode.  It's very useful when say I need to see a list of filtered files and quickly go into all of them to check something one by one.  Quick file open would not work

[2016-06-27 00:15] 3DEsprit opened #102 "UX Design: Project Functionality - Default File View Folder"
OSX 10.11.5
Deco 1.1.2 (0.6.0)

Anytime the Open Project function is used, both from the splash screen and File toolbar menu, it always defaults to the inside of the last project's folder where a project would certainly not reside. Would it not seem more intuitive to place the user in the previous folder where one would most likely have all of their projects?

This is where my ignorance might get

[2016-06-27 02:04] 3DEsprit opened #103 "Tabs Pushed Off the Side When Too Many Open"
OSX 10.11.5
Deco 1.1.2 (0.6.0)

It seems when too many tabs are open they start to move off the right side of the app. I tend to keep Deco open covering only 2/3 of the screen, and when opening more than 6 tabs this starts to happening. When increasing it to the size of the screen (1280x900), it happens when more than 10 tabs are opened. When opening even more tabs as this is happening they start

[2016-06-27 20:15] gdowens opened #107 "Make script to bump build version number in necessary places"
there is a version number in these places...

1. /shared, /desktop, and /web package.json
2. /desktop/Scripts/postinstall
3. /desktop/installer/osx/mpkg/Distribution
4. /desktop/gulpfile.js

[2016-06-28 00:19] gdowens commented on #12
Added in this 0.7.0 release.

[2016-06-28 00:19] #12 closed

[2016-06-28 00:20] gdowens commented on #17
May have been an issue related to #66 closing, reopen if can detail more information.

[2016-06-28 00:20] #17 closed

[2016-06-28 00:21] gdowens commented on #24
added to .settings file in 0.7.0

[2016-06-28 00:21] #24 closed

[2016-06-28 00:22] gdowens commented on #78
merged and in 0.7.0

[2016-06-28 00:22] #78 closed

[2016-06-28 00:23] gdowens commented on #63
Better building mechanism has been included in 0.7.0

[2016-06-28 00:23] #63 closed

[2016-06-28 00:25] gdowens commented on #39
configure.deco.js feature in 0.7.0 allows users to now forcefully disable Deco packager.

[2016-06-28 00:25] #39 closed

[2016-06-28 00:26] gdowens commented on #94
done and added in 0.7.0

[2016-06-28 00:26] #94 closed

[2016-06-28 00:27] gdowens commented on #33
fixed in 0.7.0

[2016-06-28 00:27] #33 closed

[2016-06-28 00:28] gdowens commented on #36
please reopen a separate issue if the error continues to persist.

[2016-06-28 00:28] #36 closed

[2016-06-28 14:23] Jetlum opened #109 "Linux&Windows?"
Come on guys make it available for Linux and Windows too

[2016-06-28 21:27] dabbott commented on #109
We're gonna publish a roadmap soon so you can get a better idea of what to expect from the Deco core team (me, Gavin, David).

Probably if you want to see Deco for Linux or Windows the fastest way is still to contribute. Now that we have Android support, I think these efforts make more sense.

[2016-06-28 21:28] dabbott commented on #109
Closing. See #10 #14

[2016-06-28 21:28] #109 closed

[2016-06-29 02:32] devhyunjae opened #110 "Simulator not working"
Open an existing project.

Run Simulator.

and throws this error.

[code]

[2016-06-30 02:55] 3DEsprit opened #115 "Project Tree Horizontal Slider / Add Button Visibility"
Sorry if this seems like two different issues, but they go hand-in-hand.

When working with deeply nested files in the Project Tree, there is no way to scroll from side to side to move the focus to such files, and allow for the viewing of the Add Button ("+"). This can easily happen when adding custom java files to the project.

Screenshot:
http://d.pr/i/131S7

To keep users from having to use a s

[2016-06-30 03:07] MutableLoss opened #116 "Java Files Using React Syntax Highlighting"
It seems that .java files are using React/ES6 syntax highlighting, which cause some odd highlighting inconsistencies when writing java modules.

Screenshot:
http://d.pr/i/13dJP

[2016-06-30 20:22] gdowens opened #120 "Check file extension and enable that language specific syntax highlighting if available"
For reference #116

[2016-06-30 20:25] gdowens commented on #116
See #120

[2016-06-30 21:56] mattgabor commented on #79
+1

[2016-06-30 22:36] 3DEsprit commented on #116
Ah my sincere apologies! It looks like I need to make another pass through the issues. :wink:

[2016-07-01 21:36] gdowens commented on #110
Should be fixed in recent patch.

[2016-07-01 21:36] #110 closed

[2016-07-04 18:41] jondot commented on #88
Just to file this here, there are a couple templates which we did during the FB hackathon here that might be worth looking at:

https://github.com/react-native-templates

[2016-07-07 19:02] gdowens opened #124 "Investigate cleanup scripts (uninstall) to ensure it fully wipes system"
see folders ...

~/Library/Application Support/com.decosoftware.Deco
~/Library/Application Support/com.decosoftware.deco.ShipIt
~/Library/Application Support/DecoIDE-Desktop ??

[2016-07-08 04:35] gdowens opened #125 "Tab Switching Shortcut"
Add hotkey to switch tabs in Deco

[2016-07-10 01:21] zombeej opened #126 "Clicking files doesn't open a new tab"
When clicking a file in the left column file browser, the file replaces the first (and only) tab in the editor. It is not possible to have more than one file open at a time.

[code]

[2016-07-11 19:38] johnryan commented on #126
@zombeej I believe this is the intended behavior (it works the same in the atom text editor). You must double click on a file for it to stay open, one click just "previews" the file.

[2016-07-11 19:45] zombeej commented on #126
Ah, you're right. My apologies.

[2016-07-11 19:45] #126 closed

[2016-07-13 15:55] yagamis commented on #79
+1, yes, the font of UI is too small to see...  horrible!!!

[2016-07-14 04:28] 3DEsprit commented on #61
Just to add to this, I'm not sure if it's the current want Deco handles files, but I have had Deco freeze when selecting the package.json after it has been changed externally with npm/rnpm. I have not found a good way to reproduce this indefinitely, but it has been an issue when trying to access this file. I will make another issue when I can.

Deco 1.1.2/0.7.1

[2016-07-14 06:52] 3DEsprit opened #127 "Function Syntax Highlighting works for ES5 not ES6"
Deco 1.1.2/0.7.1 OSX 10.11.5

When declaring functions or methods without the "function" keyword, syntax highlighting is lost for the function. This is also true when calling methods in JSX. Here are some screenshots:

Without highlight using common syntax: http://d.pr/i/17N3G

With highlight using ES5-like syntax: http://d.pr/i/1dNRq

Just to point out before someone says I'm missing "this": Even

[2016-07-15 01:40] gdowens commented on #127
Hey @3DEsprit, thanks for checking in.

We are using the "CodeMirror" project for the editor. @dabbott was working on this for some time early this year... you can see we are using his (https://github.com/dabbott/CodeMirror/tree/better-jsx-es6) branch, but that it is incomplete.

You can see this issue here (https://github.com/codemirror/CodeMirror/issues/3122)  was closed, but then this issue her

[2016-07-15 06:14] 3DEsprit commented on #127
Excellent! I will definitely check out the integration in the near future. :+1:

[2016-07-16 12:46] runelabs commented on #16
Hi, did you guys consider Docker for packaging sets of tools and dependencies needed, pinning versions etc? Since Docker runs on most platforms now, it could really simplify the user experience wrt complicated environment dependencies. Docker images can be versioned as well, and it makes it easy to also bundle Deco services and more ... 😃

[2016-07-18 01:30] conradwt commented on #79
@dabbott Has this functionality made it to the Deco Roadmap?

[2016-07-22 16:36] gdowens opened #129 "FBSOpenApplicationErrorDomain code=1 when running on certain Simulators."
Seems like the build targets only iPhone 6? or some set of simulators? This error occurred when launching iPhone 5 simulator.

`An error was encountered processing the command (domain=FBSOpenApplicationErrorDomain, code=1):
The operation couldn’t be completed. (FBSOpenApplicationErrorDomain error 1.)`

The simulator tries to open the app but always gets redirected to the home screen.

"My version

[2016-07-30 11:02] sascha1337 opened #130 "CMD-Z issue - please bounce to line that changed"
if i use cmd-z, i am used to see what line changed. when i had changes on the top of the file but viewing the bottom and i run cmd-z i have to guess because its not bouncing to the changed line.
please fix this because i run always in this issue

[2016-07-30 16:08] lpalmes opened #131 "Update Failure closes the App"
I have tried downloading the release `0.7.1` by `brew cask install deco` and by github release.
And the app keeps giving me an error and closing it automatically. I also tried `0.7.0` and same.

I couldn't get more information given how quick the app closes.

![screen shot 2016-07-30 at 12 56 21 pm](https://cloud.githubusercontent.com/assets/5133531/17271552/769acd7e-5655-11e6-80b7-47eee753ce8c.pn

[2016-08-03 06:03] IWantMyApp commented on #129
Same issue with same versions as @gdowens

[2016-08-03 20:05] gdowens commented on #131
This message is displayed when the "postinstall" script fails.

If you want to just work on fixing it... first, I would delete Deco from Applications and try installing the latest .pkg from our website. I suspect that will work for you.

If you would like to help us identify the exact cause of error... this one is a bit more challenging, as it doesn't log much information. Anything relevant would

[2016-08-04 14:02] mujuni88 opened #132 "Deco won't install on Mac OSX"
Installation failed.

System: MacBook Pro (13-inch, Early 2011)
Version: OS X El Capitan Version 10.11.6

[2016-08-04 19:18] gdowens commented on #132
Can you try installing again, then open Console app and look at system.log to see if you can find an error related to "decosoftware".

[2016-08-04 19:26] mujuni88 commented on #132
Aug  4 14:24:14 JoeBuzaMac CoreServicesUIAgent[16303]: Error -60005 creating authorization
Aug  4 14:24:20 JoeBuzaMac SecurityAgent[23351]: activateIgnoringOtherApps:1
Aug  4 14:24:20 JoeBuzaMac SecurityAgent[23351]: makeKeyAndOrderFront
Aug  4 14:24:20 JoeBuzaMac SecurityAgent[23351]: com.apple.SecurityAgent.consoleLogin.UIShown
Aug  4 14:24:27 JoeBuzaMac UserEventAgent[53]: Failed to send messag

[2016-08-04 19:39] gdowens commented on #132
Ok, so this is the problem line: Aug 4 14:24:32 JoeBuzaMac sudo[23364]: root : user NOT in sudoers ; TTY=unknown ; PWD=/private/tmp/PKInstallSandbox.94Ffs9/Scripts/com.decosoftware.deco.TvawoY ; USER=root ; COMMAND=/usr/sbin/chown -R joebm08:staff /Users/joebm08/Library/Application Support/com.decosoftware.Deco

your user account joebm08 does not have sudo access.

[2016-08-04 21:28] mujuni88 commented on #132
I do tho. I checked the sudoers file.

[2016-08-05 02:44] WaterEye0o opened #133 "Add Breakpoint feature"

[2016-08-05 03:56] 3DEsprit commented on #127
I'm finally getting caught up with the code-mirror, and CM fork projects. I'll be sure to make some more permanent example screenshots this weekend, as well as integrating my own local branch of the better-jsx fork.

[2016-08-08 21:28] brunolemos opened #134 "Move file?"
I'm trying to the basics, like moving a file to another directory.
Isn't that possible in Deco?

[2016-08-09 01:26] KimALam commented on #134
I'm also curious about that. After moving file in shell, that file is sometimes removed by deco.

[2016-08-09 02:18] 3DEsprit commented on #134
@KimALam The issue you are talking about is [this one](https://github.com/decosoftware/deco-ide/issues/61).  Surely they have something coming soon. :smile:

[2016-08-09 04:43] KimALam commented on #134
@3DEsprit Thanks~~

[2016-08-10 21:16] RangerMauve opened #135 "Integrate with React Native Web polyfills"
There's been a few efforts to port various React Native APIs to work purely in the browser. It would be super useful if this IDE had the ability to build a project that made use of one or more of these to enable people to create apps that work not only on iOS and Android, but also anywhere that can run a browser.

The libraries that I've seen that seem most appealing are:

[react-web](https://gith

[2016-08-12 17:54] RafaelRViana commented on #129
Same issue here as @gdowens
Does it have some update?

[2016-08-12 20:39] gdowens commented on #132
@mujuni88 appreciate your help looking into this... Are you somehow installing the application as ROOT? However, in this case, the postinstall script is supposed to exit immediately. So I suspect you would get a different error message.

These problems can be a challenge to debug as they are not easy to reproduce locally.

FYI: This is the file that is failing for you. https://github.com/decosoftw

[2016-08-12 20:45] gdowens commented on #129
When you run the simulator from Deco. We launch a pre-built .app binary in your ios/build/... folder. I believe this build is not playing nicely with certain devices on certain versions of Xcode.

The workaround is to rebuild your application binary. You can see/specify the .app location in Deco > Project Settings

I would first try `rm -rf ios/build` then running `react-native run-ios --simulator

[2016-08-12 20:46] gdowens commented on #76
🙇

[2016-08-12 20:46] #76 closed

[2016-08-12 21:07] gdowens commented on #134
Oh man :( we definitely are aware and are working to improve the behavior.

Hopefully, we can put up a roadmap within the next week, but you can expect the next release to include a significantly improved file navigator and the ability for Deco to sync external changes with the editor (similar to Atom).

![dog cannot have cupcakes](https://media.giphy.com/media/20cr5VNSiuvhS/giphy.gif)

[2016-08-12 21:15] mujuni88 commented on #132
I was able to install it after I added root into the sudoers file. Which makes sense if you look into this line

[2016-08-12 21:15] #132 closed

[2016-08-16 21:49] RangerMauve commented on #135
According to the [react-native-web readme](https://github.com/necolas/react-native-web#why) it seems the project is somehow affiliated with Twitter.

[2016-08-17 17:55] dabbott commented on #135
We are going to do this.

We want to make it easier to preview/share RN apps. We were considering going all-in on react-native-web and using it to preview/share your app. For now though, native modules are pretty important to RN, and so we're working on a better way to preview/share that's a little friendlier to native modules. This work includes customizable starter project templates, so it would

[2016-08-17 17:57] dabbott commented on #130
Yep, definitely an issue. It happens because we only respect codemirror changes that affect the actual text content at the moment. Need to also respect editor selection.

IMO not too hard to fix. I'll try to get to it when I take a pass over editor stuff. Someone else is welcome to give it a shot - but it's in the depths of some of our more complex code, so I think it'd be hard to jump into.

[2016-08-17 17:57] RangerMauve commented on #135
I was about to suggest looking into [https://github.com/dabbott/react-native-web-player](https://github.com/dabbott/react-native-web-player) for previews using web, but then I realized who I was talking to. :sweat_smile:

[2016-08-17 17:57] dabbott commented on #127
How's this coming?

I'm also happy to pair up on this if you have a branch already.

[2016-08-17 18:00] dabbott commented on #135
Hehe :)

I can't wait till the day when we can ditch all this native simulator/xcode/android studio/obj-c/java stuff and go back to the web dev workflow. Seems like we're not *quite* there yet though...

[2016-08-17 18:03] RangerMauve commented on #135
Yeah, I'm thinking if react-native-web provided all the same commandline functionality as react-native, it'd help a lot. Right now the hot reload and building is still on users, so it's not as quick to set up.

I guess this issue should remain open for when the project gets time to focus on it?

[2016-08-17 18:03] dabbott commented on #135
Yeah, let's just leave it open. Certainly if the react-native packager supported rnw somehow that'd make things dead simple.

[2016-08-17 18:04] dabbott commented on #133
This would be life-altering.

Could probably ~~steal~~ look at VSCode's implementation. I read through it a while back. It's actually kinda tricky to hijack the debugger. But something we should do nonetheless.

[2016-08-17 18:31] sascha1337 commented on #130
thank you very much 🌴

[2016-08-17 22:47] 3DEsprit commented on #127
Just for the sake of documenting the answer, I'll be diving into this more today, and this weekend. No changes have been made yet, but I think I now understand the parser to where I can start testing changes for some of the common issues, specifically the issue with Default, and not being able to use commas in imports when loading individual modules (e.g. React, {Component} ).

[2016-08-23 14:14] kcfgl opened #141 "App fails to build after updating to RN@0.31.0"
Really odd issue popped up after updating npm to RN@0.31.0.  I can no longer build and run the app.  I checked for a Deco update, but I'm up to date (1.1.2).  Rolling back to RN@0.30.0 successfully builds.

I get this error:

[code]

And the app fails to build.

[2016-08-25 11:16] starzou opened #144 "When a file changes, need to re-load the file"
**Hi guys,**

I use deco-ide develop the user interface,  use the IntelliJ IDEA to write code.

But deco-ide does not detect files are changed, I had to restart it.

[2016-08-26 00:23] gdowens commented on #144
Yes! We know it's an issue. However, because of how live values work it's not a trivial fix. Expect the next major release to fix your issue...

See  #61 for reference

[2016-08-26 00:23] #144 closed

[2016-08-26 23:02] gdowens commented on #141
Thanks for letting us know. Will be fixed in the next release (we'll default to the latest version of RN in that one).

For now, you can override the default build behavior by creating a configure.deco.js file in your project. Go to "Install > Add deco config to project" in Deco menu. This will create a `configure.deco.js` file in your root directory.

You can see the default config here: https://

[2016-08-29 04:11] kxxoling commented on #131
Same error, so I look up deco.rb in brew cask repo, there's no postflight part in it. Is that needed in the cask?

[2016-08-29 04:17] kxxoling commented on #131
Here's my log:

[code]

0.7.1 on OS X 10.11.6

[2016-08-29 21:50] dabbott commented on #127
I fixed:

`export default class Whatever extends Component`
`export default class extends Component`

In the better-jsx branch. `rm -rf node_modules/codemirror` and `npm i` to pick it up.

[2016-08-29 21:50] #127 closed

[2016-08-30 10:44] kcfgl commented on #141
Thanks for the workaround @gdowens!  Enjoying the IDE, too. You guys are doing some great work.

[2016-08-30 21:32] lpalmes commented on #131
Oh my, i completely missed the notification about your response @gdowens, i'm sorry.
Here i got the system.log from the console.
[code]

Sorry for the delay and thank you for helping! I will try the pkg right now.

[2016-08-31 16:10] jameswomack opened #148 "`Error: spawn xcodebuild ENOENT` when attempting to build"
Hey there! I'm getting `Error: spawn xcodebuild ENOENT` when trying to build my app for the first time. I made sure `xcodebuild` is installed and in my path. I'm able to manually run the command so I'm unsure why Deco cannot find it.

[code]

Any clues on how to move past this?

[2016-08-31 16:12] jameswomack opened #149 ""Chat with Deco team" doesn't seem to allow me to do so"
When I press "Chat with Deco team", I'm taken to a Slack login page. There I can sign in if I already have a login, or I can create an account if I have a Deco company email address. Since I don't work for Deco I don't have that. What method should we use to chat with you? Who is this "Chat with Deco team" menu item intended for?

[2016-08-31 16:13] jameswomack commented on #149
Through some searching I discovered this page: https://decoslackin.herokuapp.com/

That page should probably be linked to within the app if it cannot be linked to on the Slack sign in page.

[2016-09-01 00:48] dchen commented on #149
Thanks for reporting this. I'll update the Slack signup flow so that it's more clear.

[2016-09-07 13:35] akshaybhalotia opened #153 "Add support for creating react-native libraries"
I tried searching for this issue, but couldn't find a duplicate hence opening this.

It would be great to have this support for full, react-based IDE. Though there is command line support for it, there are also many technicalities to it (such as linking) which may not be intuitive for new users.

Also, adding plugins to projects is also not very friendly for new users / learners. Hence, support fo

[2016-09-07 19:44] dabbott commented on #153
Yep, this would be great.

I think the next step is going to be a "project templates" feature, where you can either start a project from a template (e.g. React Native library project) or add a template (e.g. redux action + reducer).

Haven't started working on it just yet.

[2016-09-08 05:26] sargunster commented on #131
I'm getting this issue as well. I installed using Brew cask. Will try the pkg and report back.

[2016-09-08 05:30] sargunster commented on #131
The pkg works fine. Seems the problem is with the Brew Cask package.

[2016-09-10 14:43] 3DEsprit opened #159 "UI Zoom still Working with Mouse Gesture"
Even though the hotkeys are disabled, the mouse gestures still affect the UI. Definitely odd for anyone who accidentally activates this.

![deco-ui zoomed in](https://cloud.githubusercontent.com/assets/3156278/18411260/c443c4cc-7739-11e6-8bec-6659e8fc17d6.png)

[2016-09-10 15:39] dabbott commented on #159
Good catch. Looks like we need to call this: https://github.com/electron/electron/issues/3609

[2016-09-10 19:21] dabbott commented on #35
https://github.com/decosoftware/deco-ide/pull/162

[2016-09-11 04:16] #35 closed

[2016-09-11 04:18] dabbott commented on #79
Done! https://github.com/decosoftware/deco-ide/pull/163

![editor themes and font size](https://cloud.githubusercontent.com/assets/1198882/18415135/f5cd4268-779b-11e6-9ef6-a7006f6bb14f.gif)

[2016-09-11 04:18] #79 closed

[2016-09-11 14:47] dabbott commented on #40
Added Flow, mainly for the AST. Flow always builds a full parse tree, even if there are errors in the code, which is what we need for Deco. Flow also does autocomplete - not very well though. Maybe revisit using TS language services at some point.

[2016-09-11 18:12] akshaybhalotia commented on #153
+1 to that

[2016-09-11 19:59] DanielRosenwasser commented on #40
Hey @dabbott, sorry I missed the preceding message. There are a lot of similarities between TypeScript syntax and Flow syntax. For most places there's a lot of overlap. I would say in terms of core syntax, TS supports a superset, but differs in a few places like using nullables (`?T` vs `T | null`).

Also, totally respect your decision. Having worked on our compiler and language service though, I

[2016-09-11 21:42] dabbott commented on #40
Hey @DanielRosenwasser. I needed a full AST for our upcoming release, so that was my main goal. I first tried Babel, which would be my #1 choice for parser, given that it's used by the RN packager. However, Babel couldn't recover gracefully. Flow seemed super easy to integrate (`npm install flow-bin`, and then send it commands) and I've been very happy with the AST quality/speed. I didn't get arou

[2016-09-12 05:02] DanielRosenwasser commented on #40
Yeah, I can see why that'd be a problem. Apart from VS Code, here's some other editor support that uses TS:

* Our [Sublime Text Plugin](https://github.com/Microsoft/TypeScript-Sublime-Plugin) (in Python)
* [Tsuquyomi](https://github.com/Quramy/tsuquyomi) (a Vim plugin)
* [tide](https://github.com/ananthakumaran/tide) (an Emacs plugin)
* [typescript.java](https://github.com/angelozerr/typescript.j

[2016-09-14 18:05] 3DEsprit opened #168 "[Suggestion]: Multiple Project Folders or Support for Non-Project Folders"
Could it be possible to handle multiple projects in the tree, or at least the option to open other folders without closing the current project?

I always like to make separate projects for various functionality, or of course borrow code from other projects, and then copy to the main project. Being restricted to a single project folder makes it hard to accomplish such, without having to open up ano

[2016-09-14 18:48] dabbott commented on #168
I think the simplest/best solution for us would be to support multiple Deco windows, which could open different projects. Deco is very project-based, kinda like Xcode I guess. And then you could copy/paste between those or just work on multiple apps simultaneously.

Most of our code makes the underlying assumption that there's only one project, so supporting multiple projects in the same file tree

[2016-09-18 14:48] ober01 opened #173 "Can create custom commands in vimrc file for vim mode?"

[2016-09-18 15:17] dabbott commented on #173
Probably not. We're using CodeMirror as a text editor, which has VIM keybindings to emulate the most common features, but doesn't actually run VIM. So it doesn't really handle a lot of the complexity of VIM.

If there's something specific missing from the VIM mode, maybe we can add it.

If somebody *really* dedicated wanted full VIM support, they could try embedding hyperterm into Deco and just us

[2016-09-18 15:18] ober01 commented on #173
thanks

[2016-09-18 15:18] #173 closed

[2016-09-22 06:02] 3DEsprit opened #183 "React Dependency Mis-Matching in Web"
Deco Web:  #d586dd0 #177

I'm not sure if this is breaking anything, but I always believe it's worth noting. It seems that there is a cross-dep conflict between some react addons with React 15.3, and 15.2. There are also some other dep issues, but most likely much less important (eslint).

This is from the latest build as of the above commit:

`web$ npm list --depth=1
DecoIDE-Web@0.7.1 /Users/dbro

[2016-09-22 06:34] 3DEsprit opened #184 "[CodeMirror] Pre-Bound Methods and Props"
It seems that in JSX without using _this._ in front of a method call, or prop, highlighting is ignored. When working with stateless components, and pre-binding functions, the need for the scope parenting of _this_, is no longer mandatory. We can also see the same behavior in methods, where we would use such syntax with Redux action creators.

![pre-bound](https://cloud.githubusercontent.com/assets

[2016-09-23 02:09] flyweights opened #187 "jsx formatting"
I hope this software can support code formatting. So can with convenient.

[2016-09-23 08:46] AmitMY opened #188 "Typescript?"
I was just wondering if Deco is capable of typescript compiling, structure, and code hinting?
This is crucial in these days, where everyone has many typescript modules.

If not, is there a suggested way to compile TS files on Deco, or should I use an outside watcher to compile everything, so Ill see duplicated files (.ts, .js)

Thanks

[2016-09-24 14:35] dabbott commented on #184
(1) The text highlighting is a bit weird for method calls in JSX. The syntax highlighter colors global and local variables differently - global being white and local being blue (in monokai theme). However, the local variable list isn't preserved across JSX boundaries. That shouldn't be too hard to fix, by passing the local variable list through JSX and back into JS.

![screen shot 2016-09-24 at 7

[2016-09-24 14:37] dabbott commented on #183
It's probably good to fix, but doesn't seem to be causing any problems. Ideally we can switch to 15.3.X, but last I checked react-virtualized had an issue with the VirtualScroll component, so we're on 15.2.X for now.

Probably we'll wait to sort this out until we update to 15.3.X

[2016-09-24 14:37] dabbott commented on #187
That would be nice :)

Should be pretty easy to add, if anyone is interested in contributing it.

[2016-09-24 14:40] dabbott commented on #188
I'm not that familiar with the Typescript ecosystem. We considered using the Typescript language services for autocompletion, but went with Flow for the time being. Typescript isn't a priority for us yet.

Probably your best bet is using an outside watcher.

[2016-09-24 15:23] #188 closed

[2016-09-29 02:13] dchen commented on #148
@jameswomack Did you happen to resolve this issue already?

If not, can you please run these three commands in Terminal and let me know what you get:
[code]

[2016-10-01 22:50] thedangler opened #199 "Run packager gives me this error. TypeError: Cannot read property 'run' of undefined"
Running with default Deco config
/Users/me/Library/Application Support/com.decosoftware.Deco/libs/Scripts/deco-tool/util/rn-cli.js:29
cli.run()

I've tried uninstalling everything nothing seems to work.

[2016-10-04 17:27] dabbott opened #202 "Yops template causes flow error on first app launch"
Something about a .staging file missing. We should look into it at some point

[2016-10-06 06:58] thundenilla opened #206 "So basically VSCode is better?"
No code formatting, No auto correct/fix eslint*, no extension,

[2016-10-06 07:03] dchen commented on #206
@thundenilla VS Code is a very nice editor and definitely a great choice for many use cases. If you like Deco IDE but there are features you need missing, you can help by following the issues opened for the relevant features, submitting suggestions, or contributing code. Thank you.

[2016-10-06 07:03] #206 closed

[2016-10-06 07:08] dchen commented on #199
@thedangler Have you tried uninstalling Deco completely, redownloading the latest Deco release from our site and reinstalling? Were there any errors during the install of Deco?

[2016-10-09 03:49] jpk244 commented on #89
Any updates on this? It is kind of a big deal to have files disappear just by renaming them. Is there any way to find the files on the system? I don't imagine they should be getting deleted through a renaming. I appreciate the IDE though!

[2016-10-09 04:11] jpk244 commented on #89
Also, upon further investigating, when you try to delete a renamed file, a different file of the same name may be deleted. Even then the file is not actually deleted either. You can recreate it by creating a new file with the same name as the one that was deleted in the same directory.

[2016-10-09 22:09] davin12x commented on #79
I don't have font size option in Deco?

[2016-10-09 22:41] dabbott commented on #79
It's not on our public build yet. Only in master/dev branches.

[2016-10-10 09:45] codeLockers opened #213 "i use cmd+d but the debug menu does not appear"

[2016-10-10 23:41] jpk244 commented on #89
@dabbott when I do check for updates in the Deco client, it says that it is up to date. It also says it is version 1.1.2 (0.7.1). So it seems like it has not yet been fixed.

[2016-10-10 23:42] dabbott commented on #89
We don't have a binary release with the changes yet. If you want to run off master or dev branches, you'll need to build from source.

[2016-10-11 23:45] charlieroth commented on #213
If you are using the iOS simulator, you could also click on the shake gesture option in the settings and that will bring up the developer options, then click on debug remotely and that should start a debug session in chrome. If that isn't the issue then could you go into a little more detail?

[2016-10-13 19:51] PabloSzx commented on #60
nothing new? still it's not possible?

[2016-10-14 09:35] markzero commented on #213
Where is settings? I can't find it. I see only Deco -> Preferences and don't see this option.

[2016-10-14 09:45] markzero opened #220 "Could not connect to development server"
This is what I get on first run of iPhone 6 simulator, or any other iPhone.
Here's the screenshot: http://screencast.com/t/DdATp1gLKd7

[2016-10-17 10:53] elPatricko commented on #14
Any Update?

[2016-10-17 17:24] dabbott commented on #14
Nope. Actually, we kind of de-prioritized this. But happy to accept PRs.

[2016-10-20 06:54] anantmb opened #228 "Deco Download getting cancelled"
I am not able to downlaod Deco from the main website. It is starting the download but then closes very fast within a minute.

Please let me know where I can download the pkg from other than https://www.decosoftware.com/download

[2016-10-20 07:02] dchen commented on #228
@anantmb You can also download it from here: https://github.com/decosoftware/deco-ide/releases

[2016-10-28 22:57] muescha commented on #131
i have the same problem with `brew cask install deco`

[code]

this is my system.log in console:

[code]

[2016-10-28 23:05] muescha commented on #79
i miss this too - it is to small to read the code :(

please also:
- select font
- adjust font size with `cmd+'+'` and `cmd+'-'` and reset to default font with `cmd+'0'`

[2016-11-02 09:37] ithieund commented on #22
@gdowens ,
When will it available?

I installed the latest version today but still can't find where to do this.
Thanks.

[2016-11-08 04:09] tanmynguyen opened #248 "how to format beautiful code"
how to format beautiful code this ide??? who can help me. Thanks!!!

[2016-11-08 16:51] guzgarcia opened #249 "Windows and Linux support: feasible or not?"
I've already read the related issues with Windows/Linux port, but I'm confused, are or not Windows and Linux support in mind? You have a roadmap or something?

[2016-11-10 06:45] ofi opened #253 "Properies pane stays empty"
Installed Devo 1.1.2 (0.7.1) from download package on OS X El Capitan (10.11.6), created project, ran simulator and see no properties.
After adding Picker component, saving project and re-opening the simulator works, but the property pane stays empty.

[Edit:
After adding a text component its properties show up in the pane, but those for the initial components are not marked up as prop's (no 'pill

[2016-11-10 07:33] ofi commented on #253
Ok, I assume it works only with properties attached to oomponents directly. To mr this means Deco is a nice designer tool, but not an IDE in the usual sense of supporting development in projects.
Nice work anyway. Keep it up.

[2016-11-10 07:33] #253 closed

[2016-11-17 20:03] sundayhd commented on #249
Please port this to windows.

its kind of funny that cross platform react native ide not support windows

[2016-11-17 21:02] gdowens commented on #249
We agree and do plan to eventually support windows! So, our main roadblock is bandwidth. If you are open to contributing, we'd be happy to work with you to make it happen.

[2016-11-18 02:43] yun0628 opened #260 "IDE Code Fontsize"
The code fontSize  is  small for me   i want to change it  but i don't get any help from website and other places how to do it

[2016-11-18 07:59] ithieund commented on #89
This bug made me lost 3 components folder in my source :(

[2016-11-18 08:06] jackbillstrom commented on #10
Anyone currently working on this for Linux and Windows? Would love to contribute and maybe get this out on those platforms.

[2016-11-25 17:58] smasonvan commented on #260
I agree. Would also like to be able to change the color scheme

[2016-11-25 17:59] dabbott commented on #260
Font size and theming settings are available in master or our beta build (available from our homepage). We'll likely push a non-beta release next week with these features.

[2016-11-25 18:00] smasonvan commented on #260
excellent.  Thanks for your fast reply.

Really appreciate what you are building here.

cheers
Steve

On Fri, Nov 25, 2016 at 9:59 AM Devin Abbott <notifications@github.com>
wrote:

[2016-11-29 10:04] benoj commented on #10
Is there any update on this? really keen to give deco a try

[2016-12-06 01:05] davidsmith2 commented on #131
Same issue when trying to open Deco after installing via `brew cask install deco`. This is all I see in system.log:

[code]

[2016-12-06 06:13] xuechinahb commented on #79
font is too small. Waiting the new version......

[2016-12-10 10:44] narekyan opened #265 "I dont like dark themes. So want to ask is there any way to make editor light?"

[2016-12-10 11:03] narekyan opened #266 "ERROR watch null EMFILE"
2016-12-10 15:02 node[53639] (FSEvents.framework) FSEventStreamStart: register_with_server: ERROR: f2d_register_rpc() => (null) (-22)
2016-12-10 15:02 node[53639] (FSEvents.framework) FSEventStreamStart: register_with_server: ERROR: f2d_register_rpc() => (null) (-22)
2016-12-10 15:02 node[53639] (FSEvents.framework) FSEventStreamStart: register_with_server: ERROR: f2d_register_rpc() => (null) (-22

[2016-12-10 11:26] dchen commented on #266
Thanks for reporting this. We're aware of this occurring in some builds of Deco. Are you using the stable version or the beta version from our website?

[2016-12-10 12:26] narekyan commented on #266
Beta version

[2016-12-10 12:55] narekyan commented on #266
Another issue with beta

Running with default Deco config
/Applications/Deco.app/Contents/Resources/app/libs/Scripts/deco-tool/util/rn-cli.js:29
cli.run()
   ^

TypeError: Cannot read property 'run' of undefined
    at Object.<anonymous> (/Applications/Deco.app/Contents/Resources/app/libs/Scripts/deco-tool/util/rn-cli.js:29:4)
    at Module._compile (module.js:413:34)
    at Object.Module._extensi

[2016-12-15 09:58] gmp26 opened #267 "Deco installs old version of watchman 4.5.0 n OSX"
Deco installed watchman 4.5.0 for me, but OSX has some issues with it which are corrected in version 4.7.0. However installing latest homebrew watchman leads to mismatch between front end and watchman server:
[code]

How to uninstall cleanly? since Deco appears to have installed the server as a startup process?

[2016-12-28 10:09] FWiner opened #268 "support more components?"
i found a tutorial by https://www.youtube.com/watch?v=DmZEWOumVIE
but can not find  theses components in the video , like title-bar FullScreeen-map etc.

[2016-12-29 05:17] Yaxian opened #269 "Could deco install component by yarn?"
Hi! And deco-ide is awesome!
Would deco install compoment by `yarn` when dragging a compont?

[2016-12-31 16:22] mikeconstable commented on #266
I get similar using Deco v1.1.2 (0.7.1)

2016-12-31 16:19 node[58605] (FSEvents.framework) FSEventStreamStart: register_with_server: ERROR: f2d_register_rpc() => (null) (-22)
2016-12-31 16:19 node[58605] (FSEvents.framework) FSEventStreamStart: register_with_server: ERROR: f2d_register_rpc() => (null) (-22)
2016-12-31 16:19 node[58605] (FSEvents.framework) FSEventStreamStart: register_with_server:

[2017-01-09 04:17] zacharymichaelmoore commented on #220
@markzero Did you ever figure this out? First 5 minutes into using this I got the same so I suspect some dependency isn't installed or I'm missing something else.

[2017-01-09 04:20] zacharymichaelmoore commented on #220
Hmm guess it just randomly started to work again? Maybe this bug is documented somewhere else which is why this issue is untouched.

[2017-01-09 08:37] mk0y commented on #220
@squigglydonut no I didn't try again. Did it work out for you?

[2017-01-09 14:00] zacharymichaelmoore commented on #220
It was working but then it stopped again haha. I'll keep playing around with it I guess.

[2017-01-11 02:56] luisfrocha commented on #60
I wonder the same thing. I would like to change it to my project name, but doing so breaks the app (it builds, but when simulator loads changes, it says app could not be initialized.

[2017-01-12 15:53] hyochan35 opened #270 "IDE deletes my file"
There are few bugs in IDE when I used it for an hour.

I like it's interface and hope it's all solved.

First, when I create folder in IDE sometimes it won't create but when I go to the directory
the folder exists. I have to restart to see the folder.

Second, I moved my js file and renamed it to Capital letter. After that, it deletes my file that I renamed with the original one.

These all happen

[2017-01-13 12:53] MeganGilligan1 commented on #148
Had this problem today, was a simple fix by changing which file directory it was coming from, i.e. it couldn't find the ios build. Need to make sure you open the root folder.

[2017-01-16 23:28] 509dave16 commented on #16
@gdowens Is there any documentation that details the install process? I'm looking to contribute pull requests that would enable Deco to be installed and operational on Linux.

[2017-01-18 03:45] wujunchuan opened #271 "Update Failure,The appilication will now close"
like picture,i download deco IDE by` brew cask install deco`
It doesn't work,how can i deal with it ?
![image](https://cloud.githubusercontent.com/assets/7511631/22050126/29d575b6-dd73-11e6-8e3d-c4f2a280c25b.png)

[2017-01-18 14:42] xiaxiazhu opened #272 "must i depend on webpack?"

[2017-01-25 10:42] ashik94vc opened #273 "Build fails with error"
I tried to build this and it fails, I did nom install and the I get the following error:

[code]

[2017-01-25 12:02] beruic commented on #249
How can bandwidth be your main roadblock for porting to Linux and Windows?

[2017-01-26 02:50] dchen commented on #249
He means bandwidth as in time and resources. http://onlineslangdictionary.com/meaning-definition-of/bandwidth

[2017-01-26 02:51] dchen commented on #273
What version of nodejs are you using?

[2017-01-26 02:52] dchen commented on #271
We will be releasing an update that corrects this issue. Sorry for the inconvenience.

[2017-01-26 02:53] dchen commented on #270
This is a known issue and will be corrected in an upcoming release. Sorry for the inconvenience! Deco IDE is still pretty new and we recommend backing up your project regularly, using version control or something else.

[2017-01-26 02:53] #270 closed, assigned to nobody

[2017-01-26 02:53] dchen commented on #269
Currently we don't have support for yarn but it is something we'd like to add in the future!

[2017-01-26 02:53] #269 closed, assigned to nobody

[2017-01-26 02:54] dchen commented on #267
You can close Deco IDE and just kill any remaining watchman process that is running from /usr/local/Deco. We only install to /usr/local/Deco so it won't overwrite any other installations, so it's safe to kill it and run another version of watchman.

[2017-01-26 02:54] #267 closed, assigned to nobody

[2017-01-26 02:56] dchen commented on #265
There isn't in the current stable version but in the beta build, you can go to Deco > Preferences in the menubar and change Deco UI Theme to Light. Note that some people are having issues running the beta build right now, so I would recommend waiting until the next beta release to switch.

[2017-01-26 02:56] #265 closed, assigned to nobody

[2017-01-27 05:03] privateOmega commented on #10
any updates guys?

[2017-01-27 15:18] jackbillstrom commented on #10
@privateOmega I wouldn't say that there is any progress because I actually don't know but I would suggest just working inside Nuclide (Built on Atom) instead. Deco isn't that flawless, I've run it a couple of times on my Mac but it was to unstable to work in for me.

Cheers

[2017-02-01 15:49] xgqfrms-GitHub opened #274 "windows version???"
https://www.decosoftware.com/

# download for Windows 10

[2017-02-02 15:27] sourabhv opened #275 ".DMG instead of .PKG"
DMG is easier to move/delete/more. Can deco be packaged as a dmg instead?

[2017-02-05 11:27] HZSamir commented on #10
Is this still in development hell?

[2017-02-05 16:54] privateOmega commented on #10
@jackbillstrom I read about this in an article and something like this would reduce so much effort in designing a React Native App. So i was very interested to see this in action.

[2017-02-06 19:32] jmfirth opened #276 "Deco installation issues"
I installed Deco to try it out.  It didn't work for me so I uninstalled it.  It broke watchman, and I finally got that fixed.  But everytime I run the react-native packager and debug on device it attempts to open my Parallels Bootcamp installation for completely unknown reasons.  Can you think of anything in the installation process that would cause this, as I am basically hosed right now.

[2017-02-06 19:33] jmfirth commented on #276
I do see some additional text that I have never seen before in the packager: "Launching Dev Tools..."

[2017-02-06 19:34] #276 closed, assigned to nobody

[2017-02-08 11:49] Voley opened #277 "Unhandled JS Exception: Invariant Violation: Module name prefixes should've been stripped by native side but wasn't for RCTJSCExecutor"
I'm getting this error after install of Deco. I tried with default project that is generated after start and with simple hello world from react-native website.
What can be done to fix it?

http://imgur.com/a/qQmy3

[2017-02-08 21:23] jackbillstrom commented on #10
@privateOmega I was obsessed about finally try to use Deco, and when I got my Macbook I found out that [Avocode](http://avocode.com) did a pretty darn good job for me anyways 👍

[2017-02-09 16:12] JamesBotterill commented on #277
I've encountered the same issue

[2017-02-10 01:49] wvicioso commented on #199
I get this same issue. I just download it and had no issues during the downloading

[2017-02-10 02:06] wvicioso commented on #199
@dchen @thedangler This worked for me. Close Deco and close any emulator you have running. In your terminal `cd` into your react-native project and run `npm install`. Now, reopen your project in Deco and you should be good to go.

[2017-02-10 18:57] privateOmega commented on #10
@jackbillstrom thanks for the pointer :D

[2017-02-11 16:34] ajostergaard commented on #213
Don't forget Cmd-D only works if you have the hardware keyboard connected. Hit Shift-Cmd-K (in the simulator not Deco) to connect it.

[2017-02-13 07:23] #260 closed

[2017-02-13 18:51] J-S-Thomas opened #278 "Installing Deco IDE on Ubuntu 16.04"
Please tell me there's a way to install Deco IDE on linux. If so, where can I find the instructions.

[2017-02-25 23:50] namuol commented on #278
@J-S-Thomas Linux support is not ready yet; please subscribe to the following issue to receive updates on the discussion: https://github.com/decosoftware/deco-ide/issues/10

[2017-02-27 17:56] ghost opened #279 "Show hidden files to put the path "/usr/local/Cellar/android-sdk/24.4.1_1""
In Deco IDE:
In the "preferences ..." to the right of "Android SDK Location" you can’t put the path "/usr/local/Cellar/android-sdk/24.4.1_1". After clicking the button "Browse ..." it was nice to add an option next to “Hide extension” to see the hidden files or, as in Genymotion, put the option "Use custom Android SDK tools" with an editable box to be able to put the path manually .
Link: Https://

[2017-02-28 21:32] Deub27 commented on #277
Hi, got the same issue. Did you solve the issue ?

[2017-03-02 04:29] pikitgb commented on #79
Is this new version ready ? I love this IDE

[2017-03-11 10:18] dandingol03 opened #281 "does deco allow user to use cmd+click to navigate between required packages?just like vscode"

[2017-03-13 14:56] Kiura opened #282 "Is this project abandoned?"
disclaimer: I don't do react-native myself

Hello, great project! and having components integrated and being able to use that easily is a deal breaker, for other IDEs for building mobile apps do it. And the look of an app should be done in WYSIWYG (although you have to edit parameters, not the UI itself).

It seems like the IDE has not been updated for a long time... Is the project still maintaine

[2017-03-13 14:56] Alexintosh opened #283 "Installed Deco from .PKG, cannot find the app anywhere."
Basically I just downloaded the installed from the website, after running the installation from the PKG file I cannot find the Deco app anywhere.

Not in the Applications folder or anywhere else using Spotlight.

Any help?

Mac OsX Sierra: 10.12.3

[2017-03-13 16:31] jel111 commented on #282
I was wondering the same thing myself. Great idea but not enough buzz I guess plus with Fiber who knows

[2017-03-15 08:24] Kiura commented on #282
Indeed! With enough commitment, this product could become the only IDE for react-native apps and owners could even monetize it.

[2017-03-15 12:27] benxuhuang commented on #79
Please release this features, many people using high resolution displays now, The font is too small really. Thanks!

[2017-03-15 16:14] dchen commented on #282
The project is still active, though we haven't made any new releases or published the code we have been working on recently. We should have more news soon about the product roadmap soon (next few weeks). Thank you for your patience.

[2017-03-15 16:14] #282 closed, assigned to nobody

[2017-03-15 16:15] dchen commented on #283
Did the installation complete without any errors? Can you try re-downloading the installer and running it again? We've found that sometimes the downloaded installer binary is corrupt in some way and the installation won't complete.

[2017-03-22 15:19] Alexintosh commented on #283
I did a couple of times already, the installation completes without errors.

[2017-03-24 09:05] sunsipeng opened #284 "When to support the Windows version"

[2017-03-28 23:59] Qard opened #285 "Embed react-devtools standalone?"
Might be interesting to embed react-devtools standalone directly into the app somewhere. It doesn't look like it's too hard to do. https://github.com/facebook/react-devtools/blob/master/packages/react-devtools/app.html#L95-L109

[2017-03-31 11:13] hiteshsahu commented on #284
Already asked here https://github.com/decosoftware/deco-ide/issues/14  .

[2017-03-31 11:14] hiteshsahu commented on #274
Already asked here #14 .

[2017-03-31 11:20] hiteshsahu commented on #14
@dabbott Issue #284 and #274 are the duplicates, you might want to close them (2 fewer things to care about ). Window version would be really appreciated, though.

[2017-04-06 14:05] hanxie-crypto opened #286 "Where to initialize the metadata"
i find all of the source code but can not find the metadata initialize ,when open a project ,It should start from the web process to a request to the desktop process, ‘setRootPath’ and return a ‘initState’, but there is no carrying metadata，so where to initialize the metadata?

[2017-04-08 19:26] Jaiborge commented on #277
Same problem!

[2017-04-16 15:41] thelaith commented on #16
No news? This piece of software would be amazing on Windows. Here's hoping the developers can prioritize it! :D

[2017-04-21 08:07] coderavine commented on #277
Anyone managed to resolve this issue? I am getting the same

[2017-04-23 17:23] jel111 commented on #277
I read somewhere that they are working on this project again!

[2017-04-25 15:46] kockok commented on #277
I have this error too. Any update?

[2017-05-04 03:29] keyian commented on #277
Having this error as well...

[2017-05-04 20:18] RangerMauve commented on #135
It seems that react-native's packager was used for `react-vr` bundling files for WebVR. Would it make sense to look into how they did it to re-use it for react-native-web?

[2017-05-05 04:51] jason9693 opened #287 "deco should update r-n version when create project"
react-native's version is too old(0,27,x) when create project in deco ide,
we should change this.

[2017-05-06 15:56] haythem-ouederni commented on #279
Here is your solution : after clicking browse just press ⌘ CMD+⇧ SHIFT+G and type the path to the hidden folder, just like in Terminal.
Hope it helps :)

[2017-05-06 17:46] jcrain commented on #79
Deco is awesome! And it will be super awesome when I can increase the font size!

[2017-05-09 22:55] toshipon commented on #283
I have a same issue. can't find .app file anywhere and see no errors.
I've tried several times to install with pkg installer. but not working for me..

Mac OSX  Sierra: 10.12.4

[2017-05-10 20:30] thelucre opened #288 "iOS Simulator Tab: No simulators available."
Just installed `Version 1.1.2 (0.7.1)` and getting a message of `No simulators available` for iOS. any ideas for how get them to recognize in Deco? I have Command Line Tools `v8.3` for OS X 10.12 installed and Xcode `v8.3.1`.

[2017-05-11 01:55] mehrabanmk commented on #278
any updates?

[2017-05-11 04:10] corymayer commented on #22
Wastes more time than I save right now to have to manually go through and readjust the tab size in my code every time I use this IDE.

[2017-05-11 19:11] Stubbs opened #289 "ERROR:./android/qt/qt_setup.cpp:28:Qt library not found at"
I'm getting the following error when trying to run the Android (AVD) simulator, for API 22 or 25:

[code]

I've re-installed the SDK a few times as suggested on Stack Overflow, but no joy.

Is there a Deco way to fix this?

[2017-05-12 03:31] eddiewang opened #290 "Port 8081 taken by McAfee for Corporate Laptops"
Hi there,

This is a rare and annoying issue, but the port 8081 is hardcoded to React-native and essentially we have to "kill" the McAfee antivirus service in order to develop.

There is a package called react-native-port-patcher that fixes this small issue by manually patching the hard coded ports in the xproj files.

My question is I created a new react native project and I added the patcher. Ho

[2017-05-14 02:37] nicolassrod opened #291 "Which is expected for the future of deco-ide"
Apparently they left the project abandoned.

[2017-05-16 12:14] jel111 commented on #291
There is talk in some recent issues that they are still working on this but I think it is a side project for them. Maybe even a third or fourth tier one at that.

[2017-05-18 16:47] pygabo opened #292 "When do you have the version for Linux?"
I am in love with your product, I have used it on friend's mac but my main OS is Linux, me and many other people in the world would be charmed if you release a Linux version of this great tool.

[2017-05-22 11:01] zoechi commented on #289
starting `emulator ...` from `$ANDROID_HOME/tools` can be used as a workaround
http://stackoverflow.com/a/42581852/217408

[2017-05-27 23:36] J-S-Thomas opened #293 "You Deco guys are fucking retarded !!!"
Why would you not have a Linux version ready yet. That's fucking stupid and a waste of time for people who post steps to get the thing working on Linux cause the shit don't work on Linux. It's a dope ide but it's been way to long for you not to have a Linux version ready yet.

[2017-05-28 01:08] jel111 commented on #293
They have moved on

[2017-06-01 09:12] HZSamir commented on #293
@jel111 Care to elaborate please?

[2017-06-01 11:52] jel111 commented on #293
I just say that because there have been pleas on this thread for a long time which have gone unresponsive.

[2017-06-01 18:28] dchen commented on #293
Sorry, it's a free and open source project, and we don't have the resources to commit to build a Linux version. The most likely way for a Linux version to become available is if someone in the community is interested in contributing.

[2017-06-01 18:28] #293 closed, assigned to nobody

[2017-06-01 18:29] dchen commented on #292
Many people have asked for a Linux version but unfortunately we don't have the resources to dedicate to creating one right now. Someone in the community would need to contribute the code to make it possible.

[2017-06-01 18:29] #292 closed, assigned to nobody

[2017-06-01 21:20] J-S-Thomas commented on #293
It's almost like the mac people pay you to do this purposely just to get
people to come over to the mac side (dark side). Sorry for calling you guys
retards but you have a good product that everybody needs access to.

On Jun 1, 2017 1:28 PM, "David E. Chen" <notifications@github.com> wrote:

[2017-06-01 21:21] jel111 commented on #293
It's a good idea but never got past that. You ain't missing much.

[2017-06-01 21:37] J-S-Thomas commented on #293
Oohhhhhhh I see now. I'm currently using webstorm but I like that drag and
drop feature deco has.

On Jun 1, 2017 4:21 PM, "john" <notifications@github.com> wrote:

[2017-06-04 06:04] raul782 commented on #266
Hello guys, I bumped into this issue, 0.8.0-beta-1. I'm using macOS Sierra. I have node@6.8.0 + watchman 4.7 installed through brew.
Is there any update how to fix this?

React packager ready.

[code]

[2017-06-06 13:10] manishoo commented on #38
+1

[2017-06-09 21:08] tmaly1980 commented on #101
What's the status on this? I'd love to create my own components (and especially import Native Base's components) to speed up application development. I'd much rather have control over the components than rely upon an online gallery/store to curate. Can I create a clone of the components repository and change a configuration setting somewhere in the IDE to point to my own private repo version? I'm

[2017-06-15 14:13] JeremieDaigle commented on #266
same issue here.

[2017-06-19 05:24] ZainaliSyed commented on #278
I want to install Deco IDE on Ubuntu . Anyone there to guide about this .

[2017-06-21 14:58] pchiu33 commented on #89
same here, just lost 3h of work...

[2017-06-22 02:28] zouyee commented on #291
abandoned

[2017-06-22 13:27] dandingol03 opened #294 "how can i use full-scope search"
hi
  i need to find the places in my project directory which matches certain text,so i need
to know how to use that function.

[2017-06-22 13:40] jel111 commented on #294
https://expo.io/

[2017-06-27 11:19] davidgustys commented on #282
Any updates?

[2017-06-30 12:32] antoninadert commented on #14
Still waiting...

[2017-07-02 17:30] haifaGh commented on #129
Hey guys .. I'm having a problem and I spent a few hours trying to solve but i couldn't .. I could really use your help. so here is the error i get every time i run my app (this first time i get this kind of errors for a while using react native ):

**An error was encountered processing the command (domain=FBSOpenApplicationServiceErrorDomain, code=1):
The request to open "application-name" failed

[2017-07-02 20:07] jel111 commented on #129
codesandbox.io

[2017-07-08 17:45] xindexer commented on #129
I think this may have come back in build 3.5.0, I'm also seeing this after I upgraded.

[2017-07-11 02:38] nonameolsson commented on #282
@dchen I really would love to see this project being developed. You have done a great work to get it so far! I get that maybe isn't possible for you to work so hard on this as before. But it would be really nice to know what the plans are. Is there a roadmap for this somewhere?

Keep up the good work, I'm looking forward to the day when I can leave my current editor for DECO. Or maybe have Deco as

[2017-07-16 09:34] omidnikrah commented on #277
how to fix it the problem?

[2017-08-03 16:10] einfalles commented on #79
Since they got sucked into AirBnb option has been taken away

[2017-08-04 02:10] ayaanx3 commented on #288
same here. did you find a solution?

[2017-08-16 08:51] haelsisy opened #295 "I can't run it returns require is not defined and Electron is not defined"
when i use
cd ./web
npm run watch

it returns

![screen shot 2017-08-16 at 10 49 10 am](https://user-images.githubusercontent.com/11634587/29355294-c07dcd36-8270-11e7-8ef7-9e583cdf2e14.png)

(index):35 Uncaught ReferenceError: require is not defined
    at (index):35
(anonymous) @ (index):35
only-dev-server.js?2f87:74 [HMR] Waiting for update signal from WDS...
Request.js?cf5c:18 Uncaught Referenc

[2017-08-27 15:41] gongyujun opened #296 "[URGENT]I CANNOT insert any deco component by using the IDE"
as title, I cannot insert any deco component by using the IDE which is installed by img. Anyone can help me out?

[2017-08-30 06:39] iamraafay commented on #148
I'm opening the root of a project here, but I still this issue.

[2017-08-31 11:39] ilpise commented on #289
I've experienced the same error on a linux system.
The problem was the ANDROID_HOME environment variable was not settled permanently.
On Ubuntu 16.04 to have the ANDROID_HOME settled on system boot you have to export it inside the '.profile' file.

[2017-09-09 11:12] iegik opened #297 "Unable to find a destination"
[code]

[2017-09-09 11:15] iegik commented on #297
Duplicate of https://github.com/decosoftware/deco-ide/issues/288

[2017-09-11 19:38] jcpc91 commented on #129
**same issue**
Installing build/Build/Products/Debug-iphonesimulator/**example_movil.app**
Launching org.reactjs.native.example.**example-movil**
An error was encountered processing the command (domain=FBSOpenApplicationServiceErrorDomain, code=1):
The request to open "org.reactjs.native.example.**example-movil**" failed.
The request was denied by service delegate (SBMainWorkspace) for reason: Not

[2017-09-11 19:47] jcpc91 opened #298 "error FBSOpenApplicationServiceErrorDomain code=1"
try to run my app with command **react-native run-ios**
but fail to install in the simulator

i wonder if have something to do with the names example_movil.app and org.reactjs.native.example.example-movil

[2017-09-19 17:26] rubencodes opened #299 ""The task to find simulators took too long""
I'm not sure if it's a coincidence since I just started using Deco, but when I updated to latest Xcode 11, Deco can't seem to find iOS simulators anymore. Has anyone else encountered this? Is support on the way?

[2017-09-23 15:06] MarkPieszak commented on #289
Anyone figured out the issue, for now doing the workaround that @zoechi Gunter suggested, but can't get an android SDK to emulate from AVD (inside android sdk) or anything besides doing:

`cd $ANDROID_HOME/tools` then `emulator --avd @whatever_name_it_is`

Craziness :(

[2017-09-26 08:06] realtebo commented on #289
Also, when launching from cmd line you cannot close the  command line window.... ufff...

[2017-10-07 14:13] henrycity commented on #289
Have the same issue without deco-ide.

[2017-10-13 03:58] liuxj commented on #296
+1

[2017-10-20 09:04] yunfengsay opened #300 "components search get nothing"
![image](https://user-images.githubusercontent.com/15527378/31813359-a8328d8a-b54b-11e7-8abd-a2b4009d463c.png)

No matter what I search , got nothing...

what`s wrong with me

[2017-10-21 15:13] bitabs commented on #14
Still waiting...

[2017-10-23 23:12] namuol commented on #14
Sometimes, life and other responsibilities get in the way of the free, open-source contributions you want to see happen.

Instead of nagging generous developers (reminder: if you're not a paying customer, you're probably not entitled), your time could be better-spent _helping_ with this or other OSS projects with similar goals.

I don't want my own personal biases to influence the success of one p

[2017-10-26 07:56] AishwaryaSurana commented on #298
How you corrected it?? @jcpc91

[2017-10-26 09:44] AishwaryaSurana commented on #298
Try this:

Goto XCode -> Click your project folder -> click General -> under sigining tab select a development team .

Dont forget to connect your IPhone as well.

[2017-10-26 09:47] AishwaryaSurana commented on #129
Try this:

Goto XCode -> Click your project folder -> click General -> under sigining tab select a development team .

Dont forget to connect your IPhone as well.

[2017-11-17 13:00] samthui commented on #289
Maybe your environment setups are not correct. Can you show your bash_profile's content?

[2017-11-17 16:59] burkaslarry opened #301 "Project record cannot clear"
Even I have deleted by repository as project,

the deco IDE project list still shows the repository.

please check .

There should be a mechanism for Deco to refresh the project list

[2017-11-18 23:39] joaooliveira121e commented on #289
é uai

[2017-11-20 07:39] psantwani commented on #283
I had the same issue.
The following worked for me -
1. Make sure you've followed the pre-requisites like - installing xcode and ruby and the bundler gem (as mentioned [here](https://github.com/decosoftware/deco-ide/blob/master/README.md#setup-for-development))
2. Run the package installer.
3. If you dont see the app under the Applications directory, unarchive Deco.pkg using [unpkg](https://www.tim

[2017-12-06 04:18] serranoarevalo opened #302 "Is this still active?"
Just looking at the commit history the latest one was one year ago, is this project still being maintained?

[2017-12-09 20:48] evliu commented on #302
Nope
https://www.decosoftware.com/

[2017-12-10 06:13] #302 closed, assigned to nobody

[2017-12-16 15:34] Asinox commented on #148
I'm facing the same problem.

@dchen for me the three commands:
[code]

[2017-12-16 20:24] Asinox opened #303 "Saving project, Deco unresponsive"
Hello guys, i want to try DECO but, i can't, i started a new project, but when i'm trying to save it with a "name" the ide go into "Application not Responding" and i cant use the mac anymore until i close it using the force.

I just let you know...

Thanks!

[2017-12-17 04:33] jameswomack commented on #148
@dchen I'm no longer experiencing this issue

[2017-12-17 04:33] #148 closed

[2017-12-18 06:07] crazyleaves commented on #300
proxy bypass

[2017-12-25 01:43] ramsharmaindia commented on #289
As of 12/25/2017. I see that you should only add below into the path to be able to launch emulator

C:\Users\Ram\AppData\Local\Android\Sdk\platform-tools C:\Users\Ram\AppData\Local\Android\Sdk\emulator.

This is after installing Android Studio 3.0 and higher. I see that C:\Users\Ram\AppData\Local\Android\Sdk\emulator
![emulator_folder](https://user-images.githubusercontent.com/27542256/34330717-e4

[2017-12-27 16:18] spaceemotion commented on #266
Installing watchman 4.9 (via homebrew) did the trick for me (mac osx high sierra)

[2017-12-28 01:26] denghui1010 commented on #296
+1

[2017-12-29 21:08] jmargolisvt commented on #148
What was the fix that worked for you, @jameswomack ?

[2018-01-01 21:31] getaaron opened #304 "Update Failure: The application will now close"
I installed Deco. When I launch it for the first time, I see:

![image](https://user-images.githubusercontent.com/789577/34471195-6ac4e9a6-ef08-11e7-89c7-d249f472a783.png)

How can I get the application to launch successfully?

Presumably this is related to:

https://github.com/decosoftware/deco-ide/blob/d586dd0499833b9b2ad2ba894e95a48ea95061cb/web/src/scripts/containers/Upgrader.jsx#L80-L81

[2018-01-06 00:11] jacob-cross99 commented on #148
Yeah, I'm having the same issue... I can run xcodebuild from the terminal so not really sure.. Maybe  a permission issue? I don't know if it's the same issue but also run packager failed with 'cannot read property run of undefined' (cli is undefined).

[2018-01-06 00:12] jacob-cross99 commented on #148
@dchen

[2018-01-10 11:59] mivancic commented on #288
In terminal run `xcrun simctl list` and if this return `xcrun: error: unable to find utility "simctl", not a developer tool or in PATH` Then you need to assign Xcode version to Command LIne tools.

Open Xcode->Preferences->Locations and under the Command Line tools select Xcode version. After that reload Deco and it should work.

[2018-01-28 13:04] ngohungphuc commented on #289
I manage to solve this error. In my system varible i need to set ```ANDROID_HOME```

![system variable](https://user-images.githubusercontent.com/13591213/35482328-127a9e6c-0466-11e8-996b-adc084fa8c45.png)

For my User variable i need
both these path
[code]
Remember to delete ```C:\Users\tonyhudson\AppData\Local\Android\Sdk\tools``` because it will cause the error

![user variable](https://user-im

[2018-01-28 13:09] ngohungphuc commented on #289
@MarkPieszak @zoechi  @Stubbs please check my answer it could help you guys

[2018-03-05 05:18] yycking commented on #304
delete deco.app on Application
and reinstall deco

[2018-03-06 13:16] Kwamena-S commented on #288
@mivancic Thanks. All simulators are now listed and I successfully tested with iPhone 6 simulator.

[2018-03-08 14:11] prachishriv opened #305 "Increase font size for the editor"
I love this editor but font size is too small. How to change the font size??

[2018-03-22 18:19] ghost commented on #273
use node version 6.11

[2018-03-24 09:46] firdausious commented on #289
@ngohungphuc Nice.. also work on Mac... 👍

[2018-03-24 10:54] ngohungphuc commented on #289
@firdausious your welcome

[2018-03-25 02:11] yoandypv opened #306 "Linux support"
Please, when a version for Linux users ?

[2018-03-31 17:31] ghost commented on #10
Guys . Inside the deco_unpack_lib folder . Most Binaries were for Mac Apps . How to run Linux Binaries

[2018-04-16 09:25] dodikk commented on #305
I'd like to have this feature too. Hopefully, the developers will consider implementing this feature soon.

@prachishriv , does editing the issue name to add a `[wish]` or `[new feature]` prefix make sense to you? I guess, that could help getting more attention and up-votes.

[2018-04-23 17:26] zszep commented on #289
@ngohungphuc Deleting  C:\Users\tonyhudson\AppData\Local\Android\Sdk\tools from the path did the trick.

[2018-04-27 00:07] zero2000 commented on #306
hello, if supposedly done with electron should in theory be porsible portalo to linux. so they would have more developers who would like to work with the ide, since those who do not use it in linux or windows mostly use visual studio code which is great, but people should also have the option to try it on their favorite operating system.

[2018-04-27 02:23] junwangInChina commented on #296
+1

[2018-05-09 03:16] raxan opened #307 "Still active project?"
Is this still active project?

[2018-05-12 00:43] zhaonian commented on #129
clean your project

[2018-05-14 16:36] arnabsen commented on #307
Looks like it's abandoned with no updates in the last two years.

[2018-05-15 07:17] osdnk commented on #307
I've just discovered this project and found it abandoned. It's a little pity. Seems to be interesting

[2018-05-15 11:04] iba-1 commented on #148
I'm having the same problem as well, @jameswomack can you tell us what was the fix?

[2018-06-03 21:45] daniyals commented on #307
perfect example of big companies buying smaller companies to close them down; Airbnb at it.

[2018-06-05 01:26] yordis commented on #307
@daniyals or maybe engineers that just want the money rather than the product itself, don't you think?! AirBnB didn't no put a gun in their head and force them to sell the product.

[2018-06-05 11:10] kamov commented on #307
The gun no, but an even more dangerous weapon: the money.

[2018-06-05 11:28] yordis commented on #307
@kamov no, they decided to take the money.

AirBnB did not force them to sell anything so do not blame AirBnB for anything. If they truly believed on what they were doing, then they wouldn't sell it and take the quick money.

[2018-06-18 11:45] godrose commented on #129
This still happens? Any clue?

[2018-07-08 10:41] Bizarrus opened #308 "Update old Packages and fix some vulnerabilities!"
I've current try to port `deco` to windows.

By installing some depencies, i've found some problems. Different packages are **outdated** and another has **critical vulnerabilities**!

**Outdated Packages**

	Package                              Current  Wanted  Latest  Location
	nodobjc                              MISSING   2.1.0   2.1.0  DecoIDE-Desktop
	npm                                  MISS

[2018-07-11 14:02] jgtoriginal opened #309 "Readme file out of date."
I’ve been trying to get deco-ide up and running from GH. Did fork and followed all steps on the readme file, but they just don’t work.
Any interested on stepping forward to help it??

[2018-07-13 23:00] jaimeohm commented on #289
@ngohungphuc Deleting tools from the path and adding emulator to the path did the trick.

[2018-07-19 00:55] saintfirewater commented on #79
Is changing font size applied?

[2018-07-19 01:01] saintfirewater commented on #305
#79 mentioned this and it was developed in Oct 2016, but not public. I don't know why.

[2018-07-24 13:13] n-for-all opened #310 "Can't run project, node version is wrong?"
not sure from where deco console is loading the node from, i uninstalled and installed node again, if i run node -v in terminal, it show 10+ version, from where is the 5.7 coming from in deco console, shouldn't it use the current mac terminal?

![image](https://user-images.githubusercontent.com/171367/43140260-9ec56c6a-8f64-11e8-8c43-163b5255ca2d.png)

also the compilation fails, react-native run-

[2018-08-30 02:37] Deja-vuuu opened #311 "I can't search component on the left，IDE didn't respond."
Is there something wrong with my Internet?
I am a Chinese developer。

[2018-08-30 02:41] Deja-vuuu commented on #311
I have to solve。I tried over the wall。
 damn the Chinese **network**

[2018-10-25 23:55] aaronfranco opened #312 "React-Native 0.57.0 Broken IDE"
When I update to React 16.5.2 and React-Native 0.57.0 the IDE breaks with the following error:
`You are currently running io.js v5.7.0.

    React Native runs on Node 8.3 or newer. There are several ways to
    upgrade Node.js depending on your preference.
    nvm:       nvm install 8.3 --reinstall-packages-from=node
    Homebrew:  brew update && brew upgrade node
    Installer: download from http

[2018-12-19 20:52] ThomasGHenry commented on #312
I'm seeing this also. What's the latest?

[code]

[2018-12-31 15:36] ThomasGHenry commented on #312
bump

[2019-01-02 11:21] kaushal9678 commented on #129
As @gdowens  mentioned, I followed those steps and it worked for me
**rm -rf ios/build then running react-native run-ios**

[2019-01-04 00:19] subashkc commented on #10
Any updates on this ?

[2019-01-04 00:23] jackbillstrom commented on #10
@subashkc I believe nothing has been worked on for Linux support, were you able to get it running?

[2019-01-22 07:00] #59 closed

[2019-01-22 11:26] innerdaze commented on #310
+1

[2019-01-22 12:54] innerdaze commented on #312
+1

[2019-01-30 07:25] samuraii commented on #289
I confirm the above solution on ubuntu 18.04

[2019-02-07 14:34] ericschaal commented on #312
+1

[2019-04-06 05:05] zolamadolo commented on #295
Hi zumaawad
Did you final get this to work?

Regards
Zola

[2019-05-17 09:51] adnanahmady commented on #289
it can be because of your adding orders for example in Linux you must watch the way you put your paths to the `$PATH` environment variable, for example,
`YOUR_PATH:$PATH `
means descending order of adding your paths so you must add your path for emulator folder as the last parameter/line like this:
`YOUR_SDK_PATH/tools:$PATH`
`YOUR_SDK_PATH/emulator:$PATH`
 and when you use this pattern `$PATH:YOU

[2019-06-22 15:13] LiWeiQiangAndroid commented on #312
Running with Deco config found at ./configure.deco.js
No user specified task was registered, falling back to default!
 ┌────────────────────────────────────────────────────────────────────────────┐
 │  You are currently running io.js v5.7.0.                                   │
 │                                                                            │
 │  React Native runs on Node 8.3 or newer

[2019-06-22 15:14] LiWeiQiangAndroid commented on #312
Running with Deco config found at ./configure.deco.js
No user specified task was registered, falling back to default!
 ┌────────────────────────────────────────────────────────────────────────────┐
 │  You are currently running io.js v5.7.0.                                   │
 │                                                                            │
 │  React Native runs on Node 8.3 or newer

[2019-06-26 09:48] ajeetsharma389 opened #313 "How to debug code in DECO IDE"
Is it possible to debug code with break points like VS code?.

[2019-09-16 12:38] BetoFrega commented on #307
When you buy a company, it's usually the people that you are after, not the product. Products are very easy to copy and reverse engineer. A good team if hard to find.

[2020-05-21 04:59] dzvid commented on #289
It worked for me after I updated my android sdk and fixed my env vars in `~/.profile`:

[code]

then reloaded it with: `source ~/.profile`

[2020-06-21 14:32] ashokkumarg commented on #289
Even I start through command prompt i get the same issue in WINDOWS 10
[code]

I have added the ANDROID HOME and also mapped the tools\emulator in the path section.

When I try to launch the emulator from Command line I get this issue.

[2020-06-21 14:45] ashokkumarg commented on #289
I have declared the Environmental variable as below

![image](https://user-images.githubusercontent.com/7566850/85227555-d92d2880-b3fb-11ea-8098-c316fea9254a.png)

Even I remove the tools path from the environmental variable does not work and thrown the same exception

I have the emulator in this path only
**C:\Users\XYZ\Downloads\android-sdk\tools** and not on the **C:\Users\XYZ\Downloads\android

[2020-06-24 03:51] ashokkumarg commented on #289
I just fixed it. The reason is I have not agreed to licenses and that does not create the %ANDROID_HOME%\emulator path.

[2020-07-01 15:43] tushar5526 commented on #289
use sudo before running from $ANDROID_HOME`

[2020-08-17 16:45] mslonnyweblab commented on #289
Ola pessoal, consegui resolver removendo das variaveis de ambiente ANDROID_HOME\tools e ANDROID_HOME\tools\bin.
Estou no Windows

[2020-09-30 05:04] JulioOrellana commented on #282
Yes, totally dead 🥺

[2021-03-16 23:13] dustinyoste commented on #289
Dealing with this on ubuntu through github's runners, how did you go about agreeing to these licenses?

[2021-09-15 09:58] #44 closed